openapi: 3.0.0
info:
  version: 1.0.0
  title: Credence API
  description: Generated OpenAPI documentation from Zod schemas
servers:
  - url: https://api.credence.org/v1
components:
  schemas:
    addressSchema:
      def:
        type: string
        checks:
          - {}
          - {}
      type: string
      format: null
      minLength: 1
      maxLength: null
    attestationEventSchema:
      def:
        type: object
        shape:
          id:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          pagingToken:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          type:
            def:
              type: enum
              entries:
                add: add
                revoke: revoke
            type: enum
            enum:
              add: add
              revoke: revoke
            options:
              - add
              - revoke
          subject:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          verifier:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          weight:
            def:
              type: number
              checks:
                - def:
                    type: number
                    check: number_format
                    abort: false
                    format: safeint
                  type: number
                  minValue: -9007199254740991
                  maxValue: 9007199254740991
                  isInt: true
                  isFinite: true
                  format: safeint
                - {}
                - {}
            type: number
            minValue: 0
            maxValue: 100
            isInt: true
            isFinite: true
            format: safeint
          claim:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          createdAt:
            def:
              type: string
              checks:
                - {}
            type: string
            format: regex
            minLength: null
            maxLength: null
          transactionHash:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
      type: object
    attestationsPathParamsSchema:
      def:
        type: object
        shape:
          address:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
      type: object
    attestationsQuerySchema:
      def:
        type: object
        shape:
          page:
            def:
              type: default
              innerType:
                def:
                  type: optional
                  innerType:
                    def:
                      type: number
                      coerce: true
                      checks:
                        - def:
                            type: number
                            check: number_format
                            abort: false
                            format: safeint
                          type: number
                          minValue: -9007199254740991
                          maxValue: 9007199254740991
                          isInt: true
                          isFinite: true
                          format: safeint
                        - {}
                    type: number
                    minValue: 1
                    maxValue: 9007199254740991
                    isInt: true
                    isFinite: true
                    format: safeint
                type: optional
              defaultValue: 1
            type: default
          limit:
            def:
              type: default
              innerType:
                def:
                  type: optional
                  innerType:
                    def:
                      type: number
                      coerce: true
                      checks:
                        - def:
                            type: number
                            check: number_format
                            abort: false
                            format: safeint
                          type: number
                          minValue: -9007199254740991
                          maxValue: 9007199254740991
                          isInt: true
                          isFinite: true
                          format: safeint
                        - {}
                        - {}
                    type: number
                    minValue: 1
                    maxValue: 100
                    isInt: true
                    isFinite: true
                    format: safeint
                type: optional
              defaultValue: 20
            type: default
          offset:
            def:
              type: default
              innerType:
                def:
                  type: optional
                  innerType:
                    def:
                      type: number
                      coerce: true
                      checks:
                        - def:
                            type: number
                            check: number_format
                            abort: false
                            format: safeint
                          type: number
                          minValue: -9007199254740991
                          maxValue: 9007199254740991
                          isInt: true
                          isFinite: true
                          format: safeint
                        - {}
                    type: number
                    minValue: 0
                    maxValue: 9007199254740991
                    isInt: true
                    isFinite: true
                    format: safeint
                type: optional
              defaultValue: 0
            type: default
          cursor:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
        catchall:
          def:
            type: never
          type: never
      type: object
    bondCreationEventSchema:
      def:
        type: object
        shape:
          id:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          type:
            def:
              type: literal
              values:
                - create_bond
            type: literal
            values: {}
          sourceAccount:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          amount:
            def:
              type: string
              checks:
                - {}
            type: string
            format: regex
            minLength: null
            maxLength: null
          duration:
            def:
              type: optional
              innerType:
                def:
                  type: nullable
                  innerType:
                    def:
                      type: string
                    type: string
                    format: null
                    minLength: null
                    maxLength: null
                type: nullable
            type: optional
          pagingToken:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
          transactionHash:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
      type: object
    bondPathParamsSchema:
      type: object
      properties:
        address:
          type: string
          minLength: 1
          description: Ethereum (0x…) or Stellar (G…) wallet address
          example: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e"
      required:
        - address
    bondQuerySchema:
      type: object
      additionalProperties: false
    BondResponse:
      type: object
      properties:
        address:
          type: string
          description: Normalised (lower-case) wallet address
          example: "0x742d35cc6634c0532925a3b844bc454e4438f44e"
        bondedAmount:
          type: string
          description: Current bonded amount as a string
          example: "1000000000000000000"
        bondStart:
          type: string
          nullable: true
          description: ISO 8601 timestamp when the bond was first posted, or null
          example: "2024-01-15T10:00:00.000Z"
        bondDuration:
          type: number
          nullable: true
          description: Bond lock duration in seconds, or null if unbonded
          example: 2592000
        active:
          type: boolean
          description: "Deprecated: use status instead"
          example: true
        slashedAmount:
          type: string
          description: Cumulative slashed amount as a string
          example: "0"
        status:
          type: string
          enum: [active, slashed, inactive, unbonded]
          description: Canonical bond lifecycle status
          example: active
      required:
        - address
        - bondedAmount
        - bondStart
        - bondDuration
        - active
        - slashedAmount
        - status
    CreateBondBody:
      type: object
      properties:
        address:
          type: string
          minLength: 1
          description: Wallet address to associate the bond with
          example: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e"
        bondedAmount:
          type: string
          minLength: 1
          description: Amount to bond, expressed as a string to preserve precision (e.g. wei)
          example: "1000000000000000000"
        bondDuration:
          type: integer
          minimum: 1
          description: Bond lock duration in seconds
          example: 2592000
      required:
        - address
        - bondedAmount
        - bondDuration
    BondError:
      type: object
      properties:
        error:
          type: string
          example: "No bond record found for address 0x…"
      required:
        - error
    createAttestationBodySchema:
      def:
        type: object
        shape:
          bondId:
            def:
              type: optional
              innerType:
                def:
                  type: number
                  coerce: true
                  checks:
                    - def:
                        type: number
                        check: number_format
                        abort: false
                        format: safeint
                      type: number
                      minValue: -9007199254740991
                      maxValue: 9007199254740991
                      isInt: true
                      isFinite: true
                      format: safeint
                    - {}
                type: number
                minValue: 0
                maxValue: 9007199254740991
                isInt: true
                isFinite: true
                format: safeint
            type: optional
          attesterAddress:
            def:
              type: optional
              innerType:
                def:
                  type: string
                  checks:
                    - {}
                    - {}
                type: string
                format: null
                minLength: 1
                maxLength: null
            type: optional
          subject:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          value:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: 2048
          key:
            def:
              type: optional
              innerType:
                def:
                  type: string
                  checks:
                    - {}
                    - {}
                type: string
                format: null
                minLength: 1
                maxLength: 128
            type: optional
          score:
            def:
              type: optional
              innerType:
                def:
                  type: number
                  coerce: true
                  checks:
                    - def:
                        type: number
                        check: number_format
                        abort: false
                        format: safeint
                      type: number
                      minValue: -9007199254740991
                      maxValue: 9007199254740991
                      isInt: true
                      isFinite: true
                      format: safeint
                    - {}
                    - {}
                type: number
                minValue: 0
                maxValue: 100
                isInt: true
                isFinite: true
                format: safeint
            type: optional
        catchall:
          def:
            type: never
          type: never
      type: object
    createPayoutSchema:
      def:
        type: object
        shape:
          bondId:
            def:
              type: union
              options:
                - def:
                    type: string
                  type: string
                  format: null
                  minLength: null
                  maxLength: null
                - def:
                    type: number
                    checks: []
                  type: number
                  minValue: null
                  maxValue: null
                  isInt: false
                  isFinite: true
                  format: null
            type: union
            options:
              - def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
              - def:
                  type: number
                  checks: []
                type: number
                minValue: null
                maxValue: null
                isInt: false
                isFinite: true
                format: null
          amount:
            def:
              type: string
              checks:
                - {}
                - def:
                    type: custom
                    check: custom
                  type: custom
            type: string
            format: regex
            minLength: null
            maxLength: null
          transactionHash:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: 128
          settledAt:
            def:
              type: optional
              innerType:
                def:
                  type: string
                  checks:
                    - def:
                        type: string
                        format: datetime
                        check: string_format
                        offset: false
                        local: false
                        precision: null
                        pattern: {}
                      type: string
                      format: datetime
                      minLength: null
                      maxLength: null
                type: string
                format: datetime
                minLength: null
                maxLength: null
            type: optional
          status:
            def:
              type: optional
              innerType:
                def:
                  type: enum
                  entries:
                    pending: pending
                    settled: settled
                    failed: failed
                type: enum
                enum:
                  pending: pending
                  settled: settled
                  failed: failed
                options:
                  - pending
                  - settled
                  - failed
            type: optional
      type: object
    createReportBodySchema:
      def:
        type: object
        shape:
          type:
            def:
              type: enum
              entries:
                trust_score_summary: trust_score_summary
                bond_audit: bond_audit
                attestation_export: attestation_export
            type: enum
            enum:
              trust_score_summary: trust_score_summary
              bond_audit: bond_audit
              attestation_export: attestation_export
            options:
              - trust_score_summary
              - bond_audit
              - attestation_export
        catchall:
          def:
            type: never
          type: never
      type: object
    reportTypeSchema:
      def:
        type: enum
        entries:
          trust_score_summary: trust_score_summary
          bond_audit: bond_audit
          attestation_export: attestation_export
      type: enum
      enum:
        trust_score_summary: trust_score_summary
        bond_audit: bond_audit
        attestation_export: attestation_export
      options:
        - trust_score_summary
        - bond_audit
        - attestation_export
    stellarAddressSchema:
      def:
        type: string
        checks:
          - {}
          - def:
              type: custom
              check: custom
            type: custom
      type: string
      format: null
      minLength: 1
      maxLength: null
    trustExplainQuerySchema:
      def:
        type: object
        shape:
          snapshotId:
            def:
              type: pipe
              in:
                def:
                  type: transform
                type: transform
              out:
                def:
                  type: number
                  checks:
                    - def:
                        type: number
                        check: number_format
                        abort: false
                        format: safeint
                      type: number
                      minValue: -9007199254740991
                      maxValue: 9007199254740991
                      isInt: true
                      isFinite: true
                      format: safeint
                    - {}
                type: number
                minValue: 0
                maxValue: 9007199254740991
                isInt: true
                isFinite: true
                format: safeint
            type: pipe
            in:
              def:
                type: transform
              type: transform
            out:
              def:
                type: number
                checks:
                  - def:
                      type: number
                      check: number_format
                      abort: false
                      format: safeint
                    type: number
                    minValue: -9007199254740991
                    maxValue: 9007199254740991
                    isInt: true
                    isFinite: true
                    format: safeint
                  - {}
              type: number
              minValue: 0
              maxValue: 9007199254740991
              isInt: true
              isFinite: true
              format: safeint
      type: object
    trustPathParamsSchema:
      def:
        type: object
        shape:
          address:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
      type: object
    trustQuerySchema:
      def:
        type: object
        shape: {}
        catchall:
          def:
            type: never
          type: never
      type: object
    withdrawalEventSchema:
      def:
        type: object
        shape:
          id:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          pagingToken:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          type:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          createdAt:
            def:
              type: union
              options:
                - def:
                    type: date
                  type: date
                  minDate: null
                  maxDate: null
                - def:
                    type: string
                    checks:
                      - {}
                  type: string
                  format: regex
                  minLength: null
                  maxLength: null
            type: union
            options:
              - def:
                  type: date
                type: date
                minDate: null
                maxDate: null
              - def:
                  type: string
                  checks:
                    - {}
                type: string
                format: regex
                minLength: null
                maxLength: null
          bondId:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          account:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          amount:
            def:
              type: string
              checks:
                - {}
            type: string
            format: regex
            minLength: null
            maxLength: null
          assetType:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          assetCode:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
          assetIssuer:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
          transactionHash:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          operationIndex:
            def:
              type: number
              checks:
                - def:
                    type: number
                    check: number_format
                    abort: false
                    format: safeint
                  type: number
                  minValue: -9007199254740991
                  maxValue: 9007199254740991
                  isInt: true
                  isFinite: true
                  format: safeint
                - {}
            type: number
            minValue: 0
            maxValue: 9007199254740991
            isInt: true
            isFinite: true
            format: safeint
      type: object
  parameters: {}
paths:
  /api/bond/{address}:
    get:
      tags:
        - Bond
      summary: Get bond status
      description: Returns the current bond status and lifecycle state for a wallet address.
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
            minLength: 1
          description: Ethereum (0x…) or Stellar (G…) wallet address
          example: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e"
      responses:
        "200":
          description: Bond record found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BondResponse"
        "400":
          description: Invalid address format
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BondError"
        "404":
          description: No bond record for this address
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BondError"
  /api/bond:
    post:
      tags:
        - Bond
      summary: Create or top-up a bond
      description: Creates a new bond or tops up an existing one for the given wallet address.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBondBody"
      responses:
        "201":
          description: Bond created or updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BondResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BondError"
  /.well-known/jwks.json:
    get:
      tags:
        - Auth
      summary: JWKS endpoint
      description: Returns the JSON Web Key Set used to verify JWT tokens.
      responses:
        "200":
          description: JWKS payload
          content:
            application/json:
              schema:
                type: object
  /api/health:
    get:
      tags:
        - System
      summary: Health check
      description: Returns service health status.
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
  /api/trust/{address}:
    get:
      tags:
        - Trust
      summary: Get trust record
      description: Returns the trust record for a wallet address.
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Trust record found
          content:
            application/json:
              schema:
                type: object
        "404":
          description: Not found
          content:
            application/json:
              schema:
                type: object
  /api/trust:
    post:
      tags:
        - Trust
      summary: Create trust record
      description: Creates a trust record for a wallet address.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "201":
          description: Trust record created
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                type: object
  /api/attestations/{address}:
    get:
      tags:
        - Attestations
      summary: Get attestations for address
      description: Returns attestations for a given subject address.
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Attestation list
          content:
            application/json:
              schema:
                type: object
        "404":
          description: Not found
          content:
            application/json:
              schema:
                type: object
  /api/attestations:
    post:
      tags:
        - Attestations
      summary: Create attestation
      description: Creates a new attestation record.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "201":
          description: Attestation created
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                type: object
  /api/bulk:
    post:
      tags:
        - Bulk
      summary: Bulk operation
      description: Performs a bulk data operation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Bulk operation result
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                type: object
  /api/imports:
    post:
      tags:
        - Imports
      summary: Import data
      description: Imports external data records.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Import result
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                type: object
  /api/orgs/{orgId}/policies:
    get:
      tags:
        - Organizations
      summary: Get org policies
      description: Returns policies for the given organization.
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Policy list
          content:
            application/json:
              schema:
                type: object
        "404":
          description: Not found
          content:
            application/json:
              schema:
                type: object
  /api/analytics:
    get:
      tags:
        - Analytics
      summary: Get analytics
      description: Returns aggregated analytics data.
      responses:
        "200":
          description: Analytics data
          content:
            application/json:
              schema:
                type: object
  /api/payouts:
    post:
      tags:
        - Payouts
      summary: Initiate payout
      description: Initiates a payout for a bond settlement.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Payout initiated
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                type: object
