openapi: 3.0.0
info:
  version: 1.0.0
  title: Credence API
  description: Generated OpenAPI documentation from Zod schemas
servers:
  - url: https://api.credence.org/v1
components:
  schemas:
    addressSchema:
      def:
        type: string
        checks:
          - {}
          - {}
      type: string
      format: null
      minLength: 1
      maxLength: null
    attestationEventSchema:
      def:
        type: object
        shape:
          id:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          pagingToken:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          type:
            def:
              type: enum
              entries:
                add: add
                revoke: revoke
            type: enum
            enum:
              add: add
              revoke: revoke
            options:
              - add
              - revoke
          subject:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          verifier:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          weight:
            def:
              type: number
              checks:
                - def:
                    type: number
                    check: number_format
                    abort: false
                    format: safeint
                  type: number
                  minValue: -9007199254740991
                  maxValue: 9007199254740991
                  isInt: true
                  isFinite: true
                  format: safeint
                - {}
                - {}
            type: number
            minValue: 0
            maxValue: 100
            isInt: true
            isFinite: true
            format: safeint
          claim:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          createdAt:
            def:
              type: string
              checks:
                - {}
            type: string
            format: regex
            minLength: null
            maxLength: null
          transactionHash:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
      type: object
    attestationsPathParamsSchema:
      def:
        type: object
        shape:
          address:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
      type: object
    attestationsQuerySchema:
      def:
        type: object
        shape:
          page:
            def:
              type: default
              innerType:
                def:
                  type: optional
                  innerType:
                    def:
                      type: number
                      coerce: true
                      checks:
                        - def:
                            type: number
                            check: number_format
                            abort: false
                            format: safeint
                          type: number
                          minValue: -9007199254740991
                          maxValue: 9007199254740991
                          isInt: true
                          isFinite: true
                          format: safeint
                        - {}
                    type: number
                    minValue: 1
                    maxValue: 9007199254740991
                    isInt: true
                    isFinite: true
                    format: safeint
                type: optional
              defaultValue: 1
            type: default
          limit:
            def:
              type: default
              innerType:
                def:
                  type: optional
                  innerType:
                    def:
                      type: number
                      coerce: true
                      checks:
                        - def:
                            type: number
                            check: number_format
                            abort: false
                            format: safeint
                          type: number
                          minValue: -9007199254740991
                          maxValue: 9007199254740991
                          isInt: true
                          isFinite: true
                          format: safeint
                        - {}
                        - {}
                    type: number
                    minValue: 1
                    maxValue: 100
                    isInt: true
                    isFinite: true
                    format: safeint
                type: optional
              defaultValue: 20
            type: default
          offset:
            def:
              type: default
              innerType:
                def:
                  type: optional
                  innerType:
                    def:
                      type: number
                      coerce: true
                      checks:
                        - def:
                            type: number
                            check: number_format
                            abort: false
                            format: safeint
                          type: number
                          minValue: -9007199254740991
                          maxValue: 9007199254740991
                          isInt: true
                          isFinite: true
                          format: safeint
                        - {}
                    type: number
                    minValue: 0
                    maxValue: 9007199254740991
                    isInt: true
                    isFinite: true
                    format: safeint
                type: optional
              defaultValue: 0
            type: default
          cursor:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
        catchall:
          def:
            type: never
          type: never
      type: object
    bondCreationEventSchema:
      def:
        type: object
        shape:
          id:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          type:
            def:
              type: literal
              values:
                - create_bond
            type: literal
            values: {}
          sourceAccount:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          amount:
            def:
              type: string
              checks:
                - {}
            type: string
            format: regex
            minLength: null
            maxLength: null
          duration:
            def:
              type: optional
              innerType:
                def:
                  type: nullable
                  innerType:
                    def:
                      type: string
                    type: string
                    format: null
                    minLength: null
                    maxLength: null
                type: nullable
            type: optional
          pagingToken:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
          transactionHash:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
      type: object
    bondErrorSchema:
      def:
        type: object
        shape:
          error:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
      type: object
    bondPathParamsSchema:
      def:
        type: object
        shape:
          address:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
      type: object
    bondQuerySchema:
      def:
        type: object
        shape: {}
        catchall:
          def:
            type: never
          type: never
      type: object
    bondResponseSchema:
      def:
        type: object
        shape:
          address:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          bondedAmount:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          bondStart:
            def:
              type: nullable
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: nullable
          bondDuration:
            def:
              type: nullable
              innerType:
                def:
                  type: number
                  checks: []
                type: number
                minValue: null
                maxValue: null
                isInt: false
                isFinite: true
                format: null
            type: nullable
          active:
            def:
              type: boolean
            type: boolean
          slashedAmount:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          status:
            def:
              type: enum
              entries:
                active: active
                slashed: slashed
                inactive: inactive
                unbonded: unbonded
            type: enum
            enum:
              active: active
              slashed: slashed
              inactive: inactive
              unbonded: unbonded
            options:
              - active
              - slashed
              - inactive
              - unbonded
      type: object
    WorkerHealthEntry:
      type: object
      properties:
        name:
          type: string
          example: "background-worker-1"
        lockStatus:
          type: string
          enum:
            - locked
            - unlocked
          example: "locked"
        acquiredAt:
          type: string
          format: date-time
          example: "2024-07-24T10:00:00Z"
        pid:
          type: integer
          example: 12345
        ttlSeconds:
          type: integer
          example: 3599
      required:
        - name
        - lockStatus
        - acquiredAt
        - pid
        - ttlSeconds
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key sent as `Authorization: Bearer <key>`
paths:
  /api/health:
    get:
      summary: Health check
      description: Service health status.
      tags:
        - Health
      responses:
        "200":
          description: Healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  service:
                    type: string
                  version:
                    type: object
                    properties:
                      gitSha:
                        type: string
                      buildTimestamp:
                        type: string
                      nodeVersion:
                        type: string
        "503":
          description: Unhealthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  service:
                    type: string
                  version:
                    type: object
                    properties:
                      gitSha:
                        type: string
                      buildTimestamp:
                        type: string
                      nodeVersion:
                        type: string
  /api/health/workers:
    get:
      summary: Get worker health status
      description: Returns per-worker distributed lock state, acquisition timestamp, PID, and remaining TTL.
      tags:
        - Health
      responses:
        "200":
          description: Worker health data
          content:
            application/json:
              schema:
                type: object
                properties:
                  workers:
                    type: array
                    items:
                      $ref: "#/components/schemas/WorkerHealthEntry"
                  error:
                    type: string
                    nullable: true
                    example: null
        "500":
          description: Unable to query worker health
          content:
            application/json:
              schema:
                type: object
                properties:
                  workers:
                    type: array
                    items:
                      $ref: "#/components/schemas/WorkerHealthEntry"
                  error:
                    type: string
                    example: "Unable to query worker health"
  /.well-known/jwks.json:
    get:
      summary: JWKS
      description: JSON Web Key Set for verifying JWT signatures.
      tags:
        - Security
      responses:
        "200":
          description: JWKS returned
          content:
            application/json:
              schema:
                type: object
