openapi: 3.0.0
info:
  version: 1.0.0
  title: Credence API
  description: Generated OpenAPI documentation from Zod schemas
servers:
  - url: https://api.credence.org/v1
components:
  schemas:
    addressSchema:
      def:
        type: string
        checks:
          - {}
          - {}
      type: string
      format: null
      minLength: 1
      maxLength: null
    assignRoleBodySchema:
      def:
        type: object
        shape:
          userId:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          role:
            def:
              type: enum
              entries:
                SUPER_ADMIN: super-admin
                ADMIN: admin
                VERIFIER: verifier
                USER: user
            type: enum
            enum:
              SUPER_ADMIN: super-admin
              ADMIN: admin
              VERIFIER: verifier
              USER: user
            options:
              - super-admin
              - admin
              - verifier
              - user
        catchall:
          def:
            type: never
          type: never
      type: object
    attestationEventSchema:
      def:
        type: object
        shape:
          id:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          pagingToken:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          type:
            def:
              type: enum
              entries:
                add: add
                revoke: revoke
            type: enum
            enum:
              add: add
              revoke: revoke
            options:
              - add
              - revoke
          subject:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          verifier:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          weight:
            def:
              type: number
              checks:
                - def:
                    type: number
                    check: number_format
                    abort: false
                    format: safeint
                  type: number
                  minValue: -9007199254740991
                  maxValue: 9007199254740991
                  isInt: true
                  isFinite: true
                  format: safeint
                - {}
                - {}
            type: number
            minValue: 0
            maxValue: 100
            isInt: true
            isFinite: true
            format: safeint
          claim:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          createdAt:
            def:
              type: string
              checks:
                - {}
            type: string
            format: regex
            minLength: null
            maxLength: null
          transactionHash:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
      type: object
    attestationsPathParamsSchema:
      def:
        type: object
        shape:
          address:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
      type: object
    attestationsQuerySchema:
      def:
        type: object
        shape:
          page:
            def:
              type: default
              innerType:
                def:
                  type: optional
                  innerType:
                    def:
                      type: number
                      coerce: true
                      checks:
                        - def:
                            type: number
                            check: number_format
                            abort: false
                            format: safeint
                          type: number
                          minValue: -9007199254740991
                          maxValue: 9007199254740991
                          isInt: true
                          isFinite: true
                          format: safeint
                        - {}
                    type: number
                    minValue: 1
                    maxValue: 9007199254740991
                    isInt: true
                    isFinite: true
                    format: safeint
                type: optional
              defaultValue: 1
            type: default
          limit:
            def:
              type: default
              innerType:
                def:
                  type: optional
                  innerType:
                    def:
                      type: number
                      coerce: true
                      checks:
                        - def:
                            type: number
                            check: number_format
                            abort: false
                            format: safeint
                          type: number
                          minValue: -9007199254740991
                          maxValue: 9007199254740991
                          isInt: true
                          isFinite: true
                          format: safeint
                        - {}
                        - {}
                    type: number
                    minValue: 1
                    maxValue: 100
                    isInt: true
                    isFinite: true
                    format: safeint
                type: optional
              defaultValue: 20
            type: default
          offset:
            def:
              type: default
              innerType:
                def:
                  type: optional
                  innerType:
                    def:
                      type: number
                      coerce: true
                      checks:
                        - def:
                            type: number
                            check: number_format
                            abort: false
                            format: safeint
                          type: number
                          minValue: -9007199254740991
                          maxValue: 9007199254740991
                          isInt: true
                          isFinite: true
                          format: safeint
                        - {}
                    type: number
                    minValue: 0
                    maxValue: 9007199254740991
                    isInt: true
                    isFinite: true
                    format: safeint
                type: optional
              defaultValue: 0
            type: default
          cursor:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
        catchall:
          def:
            type: never
          type: never
      type: object
    auditChainStatusQuerySchema:
      def:
        type: object
        shape: {}
        catchall:
          def:
            type: never
          type: never
      type: object
    auditChainStatusResponseSchema:
      def:
        type: object
        shape:
          lastVerifiedHeight:
            def:
              type: number
              checks:
                - def:
                    type: number
                    check: number_format
                    abort: false
                    format: safeint
                  type: number
                  minValue: -9007199254740991
                  maxValue: 9007199254740991
                  isInt: true
                  isFinite: true
                  format: safeint
                - {}
            type: number
            minValue: 0
            maxValue: 9007199254740991
            isInt: true
            isFinite: true
            format: safeint
          verifiedAt:
            def:
              type: nullable
              innerType:
                def:
                  type: string
                  checks:
                    - def:
                        type: string
                        format: datetime
                        check: string_format
                        offset: false
                        local: false
                        precision: null
                        pattern: {}
                      type: string
                      format: datetime
                      minLength: null
                      maxLength: null
                type: string
                format: datetime
                minLength: null
                maxLength: null
            type: nullable
          status:
            def:
              type: enum
              entries:
                valid: valid
                break_detected: break_detected
                never_run: never_run
            type: enum
            enum:
              valid: valid
              break_detected: break_detected
              never_run: never_run
            options:
              - valid
              - break_detected
              - never_run
          firstBreakSeq:
            def:
              type: optional
              innerType:
                def:
                  type: nullable
                  innerType:
                    def:
                      type: number
                      checks:
                        - def:
                            type: number
                            check: number_format
                            abort: false
                            format: safeint
                          type: number
                          minValue: -9007199254740991
                          maxValue: 9007199254740991
                          isInt: true
                          isFinite: true
                          format: safeint
                        - {}
                    type: number
                    minValue: 0
                    maxValue: 9007199254740991
                    isInt: true
                    isFinite: true
                    format: safeint
                type: nullable
            type: optional
          violationCount:
            def:
              type: optional
              innerType:
                def:
                  type: number
                  checks:
                    - def:
                        type: number
                        check: number_format
                        abort: false
                        format: safeint
                      type: number
                      minValue: -9007199254740991
                      maxValue: 9007199254740991
                      isInt: true
                      isFinite: true
                      format: safeint
                    - {}
                type: number
                minValue: 0
                maxValue: 9007199254740991
                isInt: true
                isFinite: true
                format: safeint
            type: optional
          rowsChecked:
            def:
              type: optional
              innerType:
                def:
                  type: number
                  checks:
                    - def:
                        type: number
                        check: number_format
                        abort: false
                        format: safeint
                      type: number
                      minValue: -9007199254740991
                      maxValue: 9007199254740991
                      isInt: true
                      isFinite: true
                      format: safeint
                    - {}
                type: number
                minValue: 0
                maxValue: 9007199254740991
                isInt: true
                isFinite: true
                format: safeint
            type: optional
      type: object
    auditChainVerificationStatusSchema:
      def:
        type: enum
        entries:
          valid: valid
          break_detected: break_detected
          never_run: never_run
      type: enum
      enum:
        valid: valid
        break_detected: break_detected
        never_run: never_run
      options:
        - valid
        - break_detected
        - never_run
    authLoginBodySchema:
      def:
        type: object
        shape:
          email:
            def:
              type: string
              checks:
                - def:
                    type: string
                    format: email
                    check: string_format
                    abort: false
                    pattern: {}
                  type: string
                  format: email
                  minLength: null
                  maxLength: null
            type: string
            format: email
            minLength: null
            maxLength: null
          password:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          tenantId:
            def:
              type: optional
              innerType:
                def:
                  type: string
                  checks:
                    - {}
                type: string
                format: null
                minLength: 1
                maxLength: null
            type: optional
      type: object
    authRefreshBodySchema:
      def:
        type: object
        shape:
          refreshToken:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          tenantId:
            def:
              type: optional
              innerType:
                def:
                  type: string
                  checks:
                    - {}
                type: string
                format: null
                minLength: 1
                maxLength: null
            type: optional
      type: object
    bondCreationEventSchema:
      def:
        type: object
        shape:
          id:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          type:
            def:
              type: literal
              values:
                - create_bond
            type: literal
            values: {}
          sourceAccount:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          amount:
            def:
              type: string
              checks:
                - {}
            type: string
            format: regex
            minLength: null
            maxLength: null
          duration:
            def:
              type: optional
              innerType:
                def:
                  type: nullable
                  innerType:
                    def:
                      type: string
                    type: string
                    format: null
                    minLength: null
                    maxLength: null
                type: nullable
            type: optional
          pagingToken:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
          transactionHash:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
      type: object
    bondErrorSchema:
      def:
        type: object
        shape:
          error:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
      type: object
    bondPathParamsSchema:
      def:
        type: object
        shape:
          address:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
      type: object
    bondQuerySchema:
      def:
        type: object
        shape: {}
        catchall:
          def:
            type: never
          type: never
      type: object
    bondResponseSchema:
      def:
        type: object
        shape:
          address:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          bondedAmount:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          bondStart:
            def:
              type: nullable
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: nullable
          bondDuration:
            def:
              type: nullable
              innerType:
                def:
                  type: number
                  checks: []
                type: number
                minValue: null
                maxValue: null
                isInt: false
                isFinite: true
                format: null
            type: nullable
          active:
            def:
              type: boolean
            type: boolean
          slashedAmount:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          status:
            def:
              type: enum
              entries:
                active: active
                slashed: slashed
                inactive: inactive
                unbonded: unbonded
            type: enum
            enum:
              active: active
              slashed: slashed
              inactive: inactive
              unbonded: unbonded
            options:
              - active
              - slashed
              - inactive
              - unbonded
      type: object
    createAttestationBodySchema:
      def:
        type: object
        shape:
          bondId:
            def:
              type: optional
              innerType:
                def:
                  type: number
                  coerce: true
                  checks:
                    - def:
                        type: number
                        check: number_format
                        abort: false
                        format: safeint
                      type: number
                      minValue: -9007199254740991
                      maxValue: 9007199254740991
                      isInt: true
                      isFinite: true
                      format: safeint
                    - {}
                type: number
                minValue: 0
                maxValue: 9007199254740991
                isInt: true
                isFinite: true
                format: safeint
            type: optional
          attesterAddress:
            def:
              type: optional
              innerType:
                def:
                  type: string
                  checks:
                    - {}
                    - {}
                type: string
                format: null
                minLength: 1
                maxLength: null
            type: optional
          subject:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          value:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: 2048
          key:
            def:
              type: optional
              innerType:
                def:
                  type: string
                  checks:
                    - {}
                    - {}
                type: string
                format: null
                minLength: 1
                maxLength: 128
            type: optional
          score:
            def:
              type: optional
              innerType:
                def:
                  type: number
                  coerce: true
                  checks:
                    - def:
                        type: number
                        check: number_format
                        abort: false
                        format: safeint
                      type: number
                      minValue: -9007199254740991
                      maxValue: 9007199254740991
                      isInt: true
                      isFinite: true
                      format: safeint
                    - {}
                    - {}
                type: number
                minValue: 0
                maxValue: 100
                isInt: true
                isFinite: true
                format: safeint
            type: optional
        catchall:
          def:
            type: never
          type: never
      type: object
    createBondBodySchema:
      def:
        type: object
        shape:
          address:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          bondedAmount:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          bondDuration:
            def:
              type: number
              checks:
                - def:
                    type: number
                    check: number_format
                    abort: false
                    format: safeint
                  type: number
                  minValue: -9007199254740991
                  maxValue: 9007199254740991
                  isInt: true
                  isFinite: true
                  format: safeint
                - {}
            type: number
            minValue: 0
            maxValue: 9007199254740991
            isInt: true
            isFinite: true
            format: safeint
      type: object
    createFlagBodySchema:
      def:
        type: object
        shape:
          key:
            def:
              type: string
              checks:
                - {}
                - {}
                - {}
            type: string
            format: regex
            minLength: 1
            maxLength: 128
          description:
            def:
              type: default
              innerType:
                def:
                  type: string
                  checks:
                    - {}
                type: string
                format: null
                minLength: null
                maxLength: 512
              defaultValue: ""
            type: default
          defaultEnabled:
            def:
              type: default
              innerType:
                def:
                  type: boolean
                type: boolean
              defaultValue: false
            type: default
          rolloutPercent:
            def:
              type: default
              innerType:
                def:
                  type: number
                  checks:
                    - def:
                        type: number
                        check: number_format
                        abort: false
                        format: safeint
                      type: number
                      minValue: -9007199254740991
                      maxValue: 9007199254740991
                      isInt: true
                      isFinite: true
                      format: safeint
                    - {}
                    - {}
                type: number
                minValue: 0
                maxValue: 100
                isInt: true
                isFinite: true
                format: safeint
              defaultValue: 0
            type: default
      type: object
    createPayoutSchema:
      def:
        type: object
        shape:
          bondId:
            def:
              type: union
              options:
                - def:
                    type: string
                  type: string
                  format: null
                  minLength: null
                  maxLength: null
                - def:
                    type: number
                    checks: []
                  type: number
                  minValue: null
                  maxValue: null
                  isInt: false
                  isFinite: true
                  format: null
            type: union
            options:
              - def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
              - def:
                  type: number
                  checks: []
                type: number
                minValue: null
                maxValue: null
                isInt: false
                isFinite: true
                format: null
          amount:
            def:
              type: string
              checks:
                - {}
                - def:
                    type: custom
                    check: custom
                  type: custom
            type: string
            format: regex
            minLength: null
            maxLength: null
          transactionHash:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: 128
          settledAt:
            def:
              type: optional
              innerType:
                def:
                  type: string
                  checks:
                    - def:
                        type: string
                        format: datetime
                        check: string_format
                        offset: false
                        local: false
                        precision: null
                        pattern: {}
                      type: string
                      format: datetime
                      minLength: null
                      maxLength: null
                type: string
                format: datetime
                minLength: null
                maxLength: null
            type: optional
          status:
            def:
              type: optional
              innerType:
                def:
                  type: enum
                  entries:
                    pending: pending
                    settled: settled
                    failed: failed
                type: enum
                enum:
                  pending: pending
                  settled: settled
                  failed: failed
                options:
                  - pending
                  - settled
                  - failed
            type: optional
      type: object
    createPolicyBodySchema:
      def:
        type: object
        shape:
          subject:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          action:
            def:
              type: enum
              entries:
                org:read: org:read
                org:update: org:update
                org:delete: org:delete
                org:member:invite: org:member:invite
                org:member:remove: org:member:remove
                org:member:list: org:member:list
                org:role:assign: org:role:assign
                org:apikey:create: org:apikey:create
                org:apikey:revoke: org:apikey:revoke
                org:apikey:list: org:apikey:list
                org:audit:read: org:audit:read
                org:policy:read: org:policy:read
                org:policy:write: org:policy:write
                "*": "*"
            type: enum
            enum:
              org:read: org:read
              org:update: org:update
              org:delete: org:delete
              org:member:invite: org:member:invite
              org:member:remove: org:member:remove
              org:member:list: org:member:list
              org:role:assign: org:role:assign
              org:apikey:create: org:apikey:create
              org:apikey:revoke: org:apikey:revoke
              org:apikey:list: org:apikey:list
              org:audit:read: org:audit:read
              org:policy:read: org:policy:read
              org:policy:write: org:policy:write
              "*": "*"
            options:
              - org:read
              - org:update
              - org:delete
              - org:member:invite
              - org:member:remove
              - org:member:list
              - org:role:assign
              - org:apikey:create
              - org:apikey:revoke
              - org:apikey:list
              - org:audit:read
              - org:policy:read
              - org:policy:write
              - "*"
          resource:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          effect:
            def:
              type: enum
              entries:
                allow: allow
                deny: deny
            type: enum
            enum:
              allow: allow
              deny: deny
            options:
              - allow
              - deny
          conditions:
            def:
              type: optional
              innerType:
                def:
                  type: record
                  keyType:
                    def:
                      type: string
                    type: string
                    format: null
                    minLength: null
                    maxLength: null
                  valueType:
                    def:
                      type: union
                      options:
                        - def:
                            type: string
                          type: string
                          format: null
                          minLength: null
                          maxLength: null
                        - def:
                            type: boolean
                          type: boolean
                        - def:
                            type: number
                            checks: []
                          type: number
                          minValue: null
                          maxValue: null
                          isInt: false
                          isFinite: true
                          format: null
                    type: union
                    options:
                      - def:
                          type: string
                        type: string
                        format: null
                        minLength: null
                        maxLength: null
                      - def:
                          type: boolean
                        type: boolean
                      - def:
                          type: number
                          checks: []
                        type: number
                        minValue: null
                        maxValue: null
                        isInt: false
                        isFinite: true
                        format: null
                type: record
                keyType:
                  def:
                    type: string
                  type: string
                  format: null
                  minLength: null
                  maxLength: null
                valueType:
                  def:
                    type: union
                    options:
                      - def:
                          type: string
                        type: string
                        format: null
                        minLength: null
                        maxLength: null
                      - def:
                          type: boolean
                        type: boolean
                      - def:
                          type: number
                          checks: []
                        type: number
                        minValue: null
                        maxValue: null
                        isInt: false
                        isFinite: true
                        format: null
                  type: union
                  options:
                    - def:
                        type: string
                      type: string
                      format: null
                      minLength: null
                      maxLength: null
                    - def:
                        type: boolean
                      type: boolean
                    - def:
                        type: number
                        checks: []
                      type: number
                      minValue: null
                      maxValue: null
                      isInt: false
                      isFinite: true
                      format: null
            type: optional
        catchall:
          def:
            type: never
          type: never
      type: object
    createReportBodySchema:
      def:
        type: object
        shape:
          type:
            def:
              type: enum
              entries:
                trust_score_summary: trust_score_summary
                bond_audit: bond_audit
                attestation_export: attestation_export
                top_talkers: top_talkers
            type: enum
            enum:
              trust_score_summary: trust_score_summary
              bond_audit: bond_audit
              attestation_export: attestation_export
              top_talkers: top_talkers
            options:
              - trust_score_summary
              - bond_audit
              - attestation_export
              - top_talkers
        catchall:
          def:
            type: never
          type: never
      type: object
    createSlashRequestBodySchema:
      def:
        type: object
        shape:
          targetAddress:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          reason:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          requestedBy:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          threshold:
            def:
              type: optional
              innerType:
                def:
                  type: number
                  checks:
                    - def:
                        type: number
                        check: number_format
                        abort: false
                        format: safeint
                      type: number
                      minValue: -9007199254740991
                      maxValue: 9007199254740991
                      isInt: true
                      isFinite: true
                      format: safeint
                    - {}
                type: number
                minValue: 1
                maxValue: 9007199254740991
                isInt: true
                isFinite: true
                format: safeint
            type: optional
          totalSigners:
            def:
              type: optional
              innerType:
                def:
                  type: number
                  checks:
                    - def:
                        type: number
                        check: number_format
                        abort: false
                        format: safeint
                      type: number
                      minValue: -9007199254740991
                      maxValue: 9007199254740991
                      isInt: true
                      isFinite: true
                      format: safeint
                    - {}
                type: number
                minValue: 1
                maxValue: 9007199254740991
                isInt: true
                isFinite: true
                format: safeint
            type: optional
      type: object
    createWalletBodySchema:
      def:
        type: object
        shape:
          address:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          initialBalance:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
          currency:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
      type: object
    dismissDisputeBodySchema:
      def:
        type: object
        shape:
          reason:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
      type: object
    disputeErrorSchema:
      def:
        type: object
        shape:
          error:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          message:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
      type: object
    disputePathParamsSchema:
      def:
        type: object
        shape:
          id:
            def:
              type: string
              checks:
                - def:
                    type: string
                    format: uuid
                    check: string_format
                    abort: false
                    pattern: {}
                  type: string
                  format: uuid
                  minLength: null
                  maxLength: null
            type: string
            format: uuid
            minLength: null
            maxLength: null
      type: object
    disputeSchema:
      def:
        type: object
        shape:
          id:
            def:
              type: string
              checks:
                - def:
                    type: string
                    format: uuid
                    check: string_format
                    abort: false
                    pattern: {}
                  type: string
                  format: uuid
                  minLength: null
                  maxLength: null
            type: string
            format: uuid
            minLength: null
            maxLength: null
          filedBy:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          respondent:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          reason:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          evidence:
            def:
              type: array
              element:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: array
            element:
              def:
                type: string
              type: string
              format: null
              minLength: null
              maxLength: null
          status:
            def:
              type: enum
              entries:
                pending: pending
                under_review: under_review
                resolved: resolved
                dismissed: dismissed
                expired: expired
            type: enum
            enum:
              pending: pending
              under_review: under_review
              resolved: resolved
              dismissed: dismissed
              expired: expired
            options:
              - pending
              - under_review
              - resolved
              - dismissed
              - expired
          createdAt:
            def:
              type: string
              checks:
                - def:
                    type: string
                    format: datetime
                    check: string_format
                    offset: false
                    local: false
                    precision: null
                    pattern: {}
                  type: string
                  format: datetime
                  minLength: null
                  maxLength: null
            type: string
            format: datetime
            minLength: null
            maxLength: null
          deadline:
            def:
              type: string
              checks:
                - def:
                    type: string
                    format: datetime
                    check: string_format
                    offset: false
                    local: false
                    precision: null
                    pattern: {}
                  type: string
                  format: datetime
                  minLength: null
                  maxLength: null
            type: string
            format: datetime
            minLength: null
            maxLength: null
          resolution:
            def:
              type: nullable
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: nullable
      type: object
    disputeStatusSchema:
      def:
        type: enum
        entries:
          pending: pending
          under_review: under_review
          resolved: resolved
          dismissed: dismissed
          expired: expired
      type: enum
      enum:
        pending: pending
        under_review: under_review
        resolved: resolved
        dismissed: dismissed
        expired: expired
      options:
        - pending
        - under_review
        - resolved
        - dismissed
        - expired
    disputeTransitionErrorSchema:
      def:
        type: object
        shape:
          error:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          code:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          error_code:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          message:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
      type: object
    faultInjectionRequestSchema:
      def:
        type: object
        shape:
          statusCode:
            def:
              type: default
              innerType:
                def:
                  type: number
                  checks:
                    - def:
                        type: number
                        check: number_format
                        abort: false
                        format: safeint
                      type: number
                      minValue: -9007199254740991
                      maxValue: 9007199254740991
                      isInt: true
                      isFinite: true
                      format: safeint
                    - {}
                    - {}
                type: number
                minValue: 400
                maxValue: 599
                isInt: true
                isFinite: true
                format: safeint
              defaultValue: 500
            type: default
          message:
            def:
              type: optional
              innerType:
                def:
                  type: string
                  checks:
                    - {}
                type: string
                format: null
                minLength: null
                maxLength: 512
            type: optional
      type: object
    faultInjectionResponseSchema:
      def:
        type: object
        shape:
          fault:
            def:
              type: literal
              values:
                - true
            type: literal
            values: {}
          statusCode:
            def:
              type: number
              checks:
                - def:
                    type: number
                    check: number_format
                    abort: false
                    format: safeint
                  type: number
                  minValue: -9007199254740991
                  maxValue: 9007199254740991
                  isInt: true
                  isFinite: true
                  format: safeint
            type: number
            minValue: -9007199254740991
            maxValue: 9007199254740991
            isInt: true
            isFinite: true
            format: safeint
          message:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
      type: object
    featureFlagOverrideResponseSchema:
      def:
        type: object
        shape:
          id:
            def:
              type: string
              checks:
                - def:
                    type: string
                    format: uuid
                    check: string_format
                    abort: false
                    pattern: {}
                  type: string
                  format: uuid
                  minLength: null
                  maxLength: null
            type: string
            format: uuid
            minLength: null
            maxLength: null
          flagId:
            def:
              type: string
              checks:
                - def:
                    type: string
                    format: uuid
                    check: string_format
                    abort: false
                    pattern: {}
                  type: string
                  format: uuid
                  minLength: null
                  maxLength: null
            type: string
            format: uuid
            minLength: null
            maxLength: null
          tenantId:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          enabled:
            def:
              type: boolean
            type: boolean
          createdAt:
            def:
              type: string
              checks:
                - def:
                    type: string
                    format: datetime
                    check: string_format
                    offset: false
                    local: false
                    precision: null
                    pattern: {}
                  type: string
                  format: datetime
                  minLength: null
                  maxLength: null
            type: string
            format: datetime
            minLength: null
            maxLength: null
          updatedAt:
            def:
              type: string
              checks:
                - def:
                    type: string
                    format: datetime
                    check: string_format
                    offset: false
                    local: false
                    precision: null
                    pattern: {}
                  type: string
                  format: datetime
                  minLength: null
                  maxLength: null
            type: string
            format: datetime
            minLength: null
            maxLength: null
      type: object
    featureFlagResponseSchema:
      def:
        type: object
        shape:
          id:
            def:
              type: string
              checks:
                - def:
                    type: string
                    format: uuid
                    check: string_format
                    abort: false
                    pattern: {}
                  type: string
                  format: uuid
                  minLength: null
                  maxLength: null
            type: string
            format: uuid
            minLength: null
            maxLength: null
          key:
            def:
              type: string
              checks:
                - {}
                - {}
                - {}
            type: string
            format: regex
            minLength: 1
            maxLength: 128
          description:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          defaultEnabled:
            def:
              type: boolean
            type: boolean
          rolloutPercent:
            def:
              type: number
              checks:
                - def:
                    type: number
                    check: number_format
                    abort: false
                    format: safeint
                  type: number
                  minValue: -9007199254740991
                  maxValue: 9007199254740991
                  isInt: true
                  isFinite: true
                  format: safeint
                - {}
                - {}
            type: number
            minValue: 0
            maxValue: 100
            isInt: true
            isFinite: true
            format: safeint
          createdAt:
            def:
              type: string
              checks:
                - def:
                    type: string
                    format: datetime
                    check: string_format
                    offset: false
                    local: false
                    precision: null
                    pattern: {}
                  type: string
                  format: datetime
                  minLength: null
                  maxLength: null
            type: string
            format: datetime
            minLength: null
            maxLength: null
          updatedAt:
            def:
              type: string
              checks:
                - def:
                    type: string
                    format: datetime
                    check: string_format
                    offset: false
                    local: false
                    precision: null
                    pattern: {}
                  type: string
                  format: datetime
                  minLength: null
                  maxLength: null
            type: string
            format: datetime
            minLength: null
            maxLength: null
      type: object
    featureFlagTenantRolloutResponseSchema:
      def:
        type: object
        shape:
          id:
            def:
              type: string
              checks:
                - def:
                    type: string
                    format: uuid
                    check: string_format
                    abort: false
                    pattern: {}
                  type: string
                  format: uuid
                  minLength: null
                  maxLength: null
            type: string
            format: uuid
            minLength: null
            maxLength: null
          flagId:
            def:
              type: string
              checks:
                - def:
                    type: string
                    format: uuid
                    check: string_format
                    abort: false
                    pattern: {}
                  type: string
                  format: uuid
                  minLength: null
                  maxLength: null
            type: string
            format: uuid
            minLength: null
            maxLength: null
          tenantId:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          rolloutPercent:
            def:
              type: number
              checks:
                - def:
                    type: number
                    check: number_format
                    abort: false
                    format: safeint
                  type: number
                  minValue: -9007199254740991
                  maxValue: 9007199254740991
                  isInt: true
                  isFinite: true
                  format: safeint
                - {}
                - {}
            type: number
            minValue: 0
            maxValue: 100
            isInt: true
            isFinite: true
            format: safeint
          createdAt:
            def:
              type: string
              checks:
                - def:
                    type: string
                    format: datetime
                    check: string_format
                    offset: false
                    local: false
                    precision: null
                    pattern: {}
                  type: string
                  format: datetime
                  minLength: null
                  maxLength: null
            type: string
            format: datetime
            minLength: null
            maxLength: null
          updatedAt:
            def:
              type: string
              checks:
                - def:
                    type: string
                    format: datetime
                    check: string_format
                    offset: false
                    local: false
                    precision: null
                    pattern: {}
                  type: string
                  format: datetime
                  minLength: null
                  maxLength: null
            type: string
            format: datetime
            minLength: null
            maxLength: null
      type: object
    featureFlagWithOverrideResponseSchema:
      def:
        type: object
        shape:
          id:
            def:
              type: string
              checks:
                - def:
                    type: string
                    format: uuid
                    check: string_format
                    abort: false
                    pattern: {}
                  type: string
                  format: uuid
                  minLength: null
                  maxLength: null
            type: string
            format: uuid
            minLength: null
            maxLength: null
          key:
            def:
              type: string
              checks:
                - {}
                - {}
                - {}
            type: string
            format: regex
            minLength: 1
            maxLength: 128
          description:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          defaultEnabled:
            def:
              type: boolean
            type: boolean
          rolloutPercent:
            def:
              type: number
              checks:
                - def:
                    type: number
                    check: number_format
                    abort: false
                    format: safeint
                  type: number
                  minValue: -9007199254740991
                  maxValue: 9007199254740991
                  isInt: true
                  isFinite: true
                  format: safeint
                - {}
                - {}
            type: number
            minValue: 0
            maxValue: 100
            isInt: true
            isFinite: true
            format: safeint
          createdAt:
            def:
              type: string
              checks:
                - def:
                    type: string
                    format: datetime
                    check: string_format
                    offset: false
                    local: false
                    precision: null
                    pattern: {}
                  type: string
                  format: datetime
                  minLength: null
                  maxLength: null
            type: string
            format: datetime
            minLength: null
            maxLength: null
          updatedAt:
            def:
              type: string
              checks:
                - def:
                    type: string
                    format: datetime
                    check: string_format
                    offset: false
                    local: false
                    precision: null
                    pattern: {}
                  type: string
                  format: datetime
                  minLength: null
                  maxLength: null
            type: string
            format: datetime
            minLength: null
            maxLength: null
          override:
            def:
              type: nullable
              innerType:
                def:
                  type: object
                  shape:
                    id:
                      def:
                        type: string
                        checks:
                          - def:
                              type: string
                              format: uuid
                              check: string_format
                              abort: false
                              pattern: {}
                            type: string
                            format: uuid
                            minLength: null
                            maxLength: null
                      type: string
                      format: uuid
                      minLength: null
                      maxLength: null
                    flagId:
                      def:
                        type: string
                        checks:
                          - def:
                              type: string
                              format: uuid
                              check: string_format
                              abort: false
                              pattern: {}
                            type: string
                            format: uuid
                            minLength: null
                            maxLength: null
                      type: string
                      format: uuid
                      minLength: null
                      maxLength: null
                    tenantId:
                      def:
                        type: string
                      type: string
                      format: null
                      minLength: null
                      maxLength: null
                    enabled:
                      def:
                        type: boolean
                      type: boolean
                    createdAt:
                      def:
                        type: string
                        checks:
                          - def:
                              type: string
                              format: datetime
                              check: string_format
                              offset: false
                              local: false
                              precision: null
                              pattern: {}
                            type: string
                            format: datetime
                            minLength: null
                            maxLength: null
                      type: string
                      format: datetime
                      minLength: null
                      maxLength: null
                    updatedAt:
                      def:
                        type: string
                        checks:
                          - def:
                              type: string
                              format: datetime
                              check: string_format
                              offset: false
                              local: false
                              precision: null
                              pattern: {}
                            type: string
                            format: datetime
                            minLength: null
                            maxLength: null
                      type: string
                      format: datetime
                      minLength: null
                      maxLength: null
                type: object
            type: nullable
          tenantRollout:
            def:
              type: nullable
              innerType:
                def:
                  type: object
                  shape:
                    id:
                      def:
                        type: string
                        checks:
                          - def:
                              type: string
                              format: uuid
                              check: string_format
                              abort: false
                              pattern: {}
                            type: string
                            format: uuid
                            minLength: null
                            maxLength: null
                      type: string
                      format: uuid
                      minLength: null
                      maxLength: null
                    flagId:
                      def:
                        type: string
                        checks:
                          - def:
                              type: string
                              format: uuid
                              check: string_format
                              abort: false
                              pattern: {}
                            type: string
                            format: uuid
                            minLength: null
                            maxLength: null
                      type: string
                      format: uuid
                      minLength: null
                      maxLength: null
                    tenantId:
                      def:
                        type: string
                      type: string
                      format: null
                      minLength: null
                      maxLength: null
                    rolloutPercent:
                      def:
                        type: number
                        checks:
                          - def:
                              type: number
                              check: number_format
                              abort: false
                              format: safeint
                            type: number
                            minValue: -9007199254740991
                            maxValue: 9007199254740991
                            isInt: true
                            isFinite: true
                            format: safeint
                          - {}
                          - {}
                      type: number
                      minValue: 0
                      maxValue: 100
                      isInt: true
                      isFinite: true
                      format: safeint
                    createdAt:
                      def:
                        type: string
                        checks:
                          - def:
                              type: string
                              format: datetime
                              check: string_format
                              offset: false
                              local: false
                              precision: null
                              pattern: {}
                            type: string
                            format: datetime
                            minLength: null
                            maxLength: null
                      type: string
                      format: datetime
                      minLength: null
                      maxLength: null
                    updatedAt:
                      def:
                        type: string
                        checks:
                          - def:
                              type: string
                              format: datetime
                              check: string_format
                              offset: false
                              local: false
                              precision: null
                              pattern: {}
                            type: string
                            format: datetime
                            minLength: null
                            maxLength: null
                      type: string
                      format: datetime
                      minLength: null
                      maxLength: null
                type: object
            type: nullable
          effectiveEnabled:
            def:
              type: boolean
            type: boolean
          effectiveRolloutPercent:
            def:
              type: number
              checks:
                - def:
                    type: number
                    check: number_format
                    abort: false
                    format: safeint
                  type: number
                  minValue: -9007199254740991
                  maxValue: 9007199254740991
                  isInt: true
                  isFinite: true
                  format: safeint
                - {}
                - {}
            type: number
            minValue: 0
            maxValue: 100
            isInt: true
            isFinite: true
            format: safeint
      type: object
    flagErrorResponseSchema:
      def:
        type: object
        shape:
          error:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
      type: object
    flagKeyParamsSchema:
      def:
        type: object
        shape:
          key:
            def:
              type: string
              checks:
                - {}
                - {}
                - {}
            type: string
            format: regex
            minLength: 1
            maxLength: 128
      type: object
    flagKeyTenantParamsSchema:
      def:
        type: object
        shape:
          key:
            def:
              type: string
              checks:
                - {}
                - {}
                - {}
            type: string
            format: regex
            minLength: 1
            maxLength: 128
          tenantId:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: 256
      type: object
    flagListResponseSchema:
      def:
        type: object
        shape:
          success:
            def:
              type: literal
              values:
                - true
            type: literal
            values: {}
          data:
            def:
              type: array
              element:
                def:
                  type: object
                  shape:
                    id:
                      def:
                        type: string
                        checks:
                          - def:
                              type: string
                              format: uuid
                              check: string_format
                              abort: false
                              pattern: {}
                            type: string
                            format: uuid
                            minLength: null
                            maxLength: null
                      type: string
                      format: uuid
                      minLength: null
                      maxLength: null
                    key:
                      def:
                        type: string
                        checks:
                          - {}
                          - {}
                          - {}
                      type: string
                      format: regex
                      minLength: 1
                      maxLength: 128
                    description:
                      def:
                        type: string
                      type: string
                      format: null
                      minLength: null
                      maxLength: null
                    defaultEnabled:
                      def:
                        type: boolean
                      type: boolean
                    rolloutPercent:
                      def:
                        type: number
                        checks:
                          - def:
                              type: number
                              check: number_format
                              abort: false
                              format: safeint
                            type: number
                            minValue: -9007199254740991
                            maxValue: 9007199254740991
                            isInt: true
                            isFinite: true
                            format: safeint
                          - {}
                          - {}
                      type: number
                      minValue: 0
                      maxValue: 100
                      isInt: true
                      isFinite: true
                      format: safeint
                    createdAt:
                      def:
                        type: string
                        checks:
                          - def:
                              type: string
                              format: datetime
                              check: string_format
                              offset: false
                              local: false
                              precision: null
                              pattern: {}
                            type: string
                            format: datetime
                            minLength: null
                            maxLength: null
                      type: string
                      format: datetime
                      minLength: null
                      maxLength: null
                    updatedAt:
                      def:
                        type: string
                        checks:
                          - def:
                              type: string
                              format: datetime
                              check: string_format
                              offset: false
                              local: false
                              precision: null
                              pattern: {}
                            type: string
                            format: datetime
                            minLength: null
                            maxLength: null
                      type: string
                      format: datetime
                      minLength: null
                      maxLength: null
                    override:
                      def:
                        type: nullable
                        innerType:
                          def:
                            type: object
                            shape:
                              id:
                                def:
                                  type: string
                                  checks:
                                    - def:
                                        type: string
                                        format: uuid
                                        check: string_format
                                        abort: false
                                        pattern: {}
                                      type: string
                                      format: uuid
                                      minLength: null
                                      maxLength: null
                                type: string
                                format: uuid
                                minLength: null
                                maxLength: null
                              flagId:
                                def:
                                  type: string
                                  checks:
                                    - def:
                                        type: string
                                        format: uuid
                                        check: string_format
                                        abort: false
                                        pattern: {}
                                      type: string
                                      format: uuid
                                      minLength: null
                                      maxLength: null
                                type: string
                                format: uuid
                                minLength: null
                                maxLength: null
                              tenantId:
                                def:
                                  type: string
                                type: string
                                format: null
                                minLength: null
                                maxLength: null
                              enabled:
                                def:
                                  type: boolean
                                type: boolean
                              createdAt:
                                def:
                                  type: string
                                  checks:
                                    - def:
                                        type: string
                                        format: datetime
                                        check: string_format
                                        offset: false
                                        local: false
                                        precision: null
                                        pattern: {}
                                      type: string
                                      format: datetime
                                      minLength: null
                                      maxLength: null
                                type: string
                                format: datetime
                                minLength: null
                                maxLength: null
                              updatedAt:
                                def:
                                  type: string
                                  checks:
                                    - def:
                                        type: string
                                        format: datetime
                                        check: string_format
                                        offset: false
                                        local: false
                                        precision: null
                                        pattern: {}
                                      type: string
                                      format: datetime
                                      minLength: null
                                      maxLength: null
                                type: string
                                format: datetime
                                minLength: null
                                maxLength: null
                          type: object
                      type: nullable
                    tenantRollout:
                      def:
                        type: nullable
                        innerType:
                          def:
                            type: object
                            shape:
                              id:
                                def:
                                  type: string
                                  checks:
                                    - def:
                                        type: string
                                        format: uuid
                                        check: string_format
                                        abort: false
                                        pattern: {}
                                      type: string
                                      format: uuid
                                      minLength: null
                                      maxLength: null
                                type: string
                                format: uuid
                                minLength: null
                                maxLength: null
                              flagId:
                                def:
                                  type: string
                                  checks:
                                    - def:
                                        type: string
                                        format: uuid
                                        check: string_format
                                        abort: false
                                        pattern: {}
                                      type: string
                                      format: uuid
                                      minLength: null
                                      maxLength: null
                                type: string
                                format: uuid
                                minLength: null
                                maxLength: null
                              tenantId:
                                def:
                                  type: string
                                type: string
                                format: null
                                minLength: null
                                maxLength: null
                              rolloutPercent:
                                def:
                                  type: number
                                  checks:
                                    - def:
                                        type: number
                                        check: number_format
                                        abort: false
                                        format: safeint
                                      type: number
                                      minValue: -9007199254740991
                                      maxValue: 9007199254740991
                                      isInt: true
                                      isFinite: true
                                      format: safeint
                                    - {}
                                    - {}
                                type: number
                                minValue: 0
                                maxValue: 100
                                isInt: true
                                isFinite: true
                                format: safeint
                              createdAt:
                                def:
                                  type: string
                                  checks:
                                    - def:
                                        type: string
                                        format: datetime
                                        check: string_format
                                        offset: false
                                        local: false
                                        precision: null
                                        pattern: {}
                                      type: string
                                      format: datetime
                                      minLength: null
                                      maxLength: null
                                type: string
                                format: datetime
                                minLength: null
                                maxLength: null
                              updatedAt:
                                def:
                                  type: string
                                  checks:
                                    - def:
                                        type: string
                                        format: datetime
                                        check: string_format
                                        offset: false
                                        local: false
                                        precision: null
                                        pattern: {}
                                      type: string
                                      format: datetime
                                      minLength: null
                                      maxLength: null
                                type: string
                                format: datetime
                                minLength: null
                                maxLength: null
                          type: object
                      type: nullable
                    effectiveEnabled:
                      def:
                        type: boolean
                      type: boolean
                    effectiveRolloutPercent:
                      def:
                        type: number
                        checks:
                          - def:
                              type: number
                              check: number_format
                              abort: false
                              format: safeint
                            type: number
                            minValue: -9007199254740991
                            maxValue: 9007199254740991
                            isInt: true
                            isFinite: true
                            format: safeint
                          - {}
                          - {}
                      type: number
                      minValue: 0
                      maxValue: 100
                      isInt: true
                      isFinite: true
                      format: safeint
                type: object
            type: array
            element:
              def:
                type: object
                shape:
                  id:
                    def:
                      type: string
                      checks:
                        - def:
                            type: string
                            format: uuid
                            check: string_format
                            abort: false
                            pattern: {}
                          type: string
                          format: uuid
                          minLength: null
                          maxLength: null
                    type: string
                    format: uuid
                    minLength: null
                    maxLength: null
                  key:
                    def:
                      type: string
                      checks:
                        - {}
                        - {}
                        - {}
                    type: string
                    format: regex
                    minLength: 1
                    maxLength: 128
                  description:
                    def:
                      type: string
                    type: string
                    format: null
                    minLength: null
                    maxLength: null
                  defaultEnabled:
                    def:
                      type: boolean
                    type: boolean
                  rolloutPercent:
                    def:
                      type: number
                      checks:
                        - def:
                            type: number
                            check: number_format
                            abort: false
                            format: safeint
                          type: number
                          minValue: -9007199254740991
                          maxValue: 9007199254740991
                          isInt: true
                          isFinite: true
                          format: safeint
                        - {}
                        - {}
                    type: number
                    minValue: 0
                    maxValue: 100
                    isInt: true
                    isFinite: true
                    format: safeint
                  createdAt:
                    def:
                      type: string
                      checks:
                        - def:
                            type: string
                            format: datetime
                            check: string_format
                            offset: false
                            local: false
                            precision: null
                            pattern: {}
                          type: string
                          format: datetime
                          minLength: null
                          maxLength: null
                    type: string
                    format: datetime
                    minLength: null
                    maxLength: null
                  updatedAt:
                    def:
                      type: string
                      checks:
                        - def:
                            type: string
                            format: datetime
                            check: string_format
                            offset: false
                            local: false
                            precision: null
                            pattern: {}
                          type: string
                          format: datetime
                          minLength: null
                          maxLength: null
                    type: string
                    format: datetime
                    minLength: null
                    maxLength: null
                  override:
                    def:
                      type: nullable
                      innerType:
                        def:
                          type: object
                          shape:
                            id:
                              def:
                                type: string
                                checks:
                                  - def:
                                      type: string
                                      format: uuid
                                      check: string_format
                                      abort: false
                                      pattern: {}
                                    type: string
                                    format: uuid
                                    minLength: null
                                    maxLength: null
                              type: string
                              format: uuid
                              minLength: null
                              maxLength: null
                            flagId:
                              def:
                                type: string
                                checks:
                                  - def:
                                      type: string
                                      format: uuid
                                      check: string_format
                                      abort: false
                                      pattern: {}
                                    type: string
                                    format: uuid
                                    minLength: null
                                    maxLength: null
                              type: string
                              format: uuid
                              minLength: null
                              maxLength: null
                            tenantId:
                              def:
                                type: string
                              type: string
                              format: null
                              minLength: null
                              maxLength: null
                            enabled:
                              def:
                                type: boolean
                              type: boolean
                            createdAt:
                              def:
                                type: string
                                checks:
                                  - def:
                                      type: string
                                      format: datetime
                                      check: string_format
                                      offset: false
                                      local: false
                                      precision: null
                                      pattern: {}
                                    type: string
                                    format: datetime
                                    minLength: null
                                    maxLength: null
                              type: string
                              format: datetime
                              minLength: null
                              maxLength: null
                            updatedAt:
                              def:
                                type: string
                                checks:
                                  - def:
                                      type: string
                                      format: datetime
                                      check: string_format
                                      offset: false
                                      local: false
                                      precision: null
                                      pattern: {}
                                    type: string
                                    format: datetime
                                    minLength: null
                                    maxLength: null
                              type: string
                              format: datetime
                              minLength: null
                              maxLength: null
                        type: object
                    type: nullable
                  tenantRollout:
                    def:
                      type: nullable
                      innerType:
                        def:
                          type: object
                          shape:
                            id:
                              def:
                                type: string
                                checks:
                                  - def:
                                      type: string
                                      format: uuid
                                      check: string_format
                                      abort: false
                                      pattern: {}
                                    type: string
                                    format: uuid
                                    minLength: null
                                    maxLength: null
                              type: string
                              format: uuid
                              minLength: null
                              maxLength: null
                            flagId:
                              def:
                                type: string
                                checks:
                                  - def:
                                      type: string
                                      format: uuid
                                      check: string_format
                                      abort: false
                                      pattern: {}
                                    type: string
                                    format: uuid
                                    minLength: null
                                    maxLength: null
                              type: string
                              format: uuid
                              minLength: null
                              maxLength: null
                            tenantId:
                              def:
                                type: string
                              type: string
                              format: null
                              minLength: null
                              maxLength: null
                            rolloutPercent:
                              def:
                                type: number
                                checks:
                                  - def:
                                      type: number
                                      check: number_format
                                      abort: false
                                      format: safeint
                                    type: number
                                    minValue: -9007199254740991
                                    maxValue: 9007199254740991
                                    isInt: true
                                    isFinite: true
                                    format: safeint
                                  - {}
                                  - {}
                              type: number
                              minValue: 0
                              maxValue: 100
                              isInt: true
                              isFinite: true
                              format: safeint
                            createdAt:
                              def:
                                type: string
                                checks:
                                  - def:
                                      type: string
                                      format: datetime
                                      check: string_format
                                      offset: false
                                      local: false
                                      precision: null
                                      pattern: {}
                                    type: string
                                    format: datetime
                                    minLength: null
                                    maxLength: null
                              type: string
                              format: datetime
                              minLength: null
                              maxLength: null
                            updatedAt:
                              def:
                                type: string
                                checks:
                                  - def:
                                      type: string
                                      format: datetime
                                      check: string_format
                                      offset: false
                                      local: false
                                      precision: null
                                      pattern: {}
                                    type: string
                                    format: datetime
                                    minLength: null
                                    maxLength: null
                              type: string
                              format: datetime
                              minLength: null
                              maxLength: null
                        type: object
                    type: nullable
                  effectiveEnabled:
                    def:
                      type: boolean
                    type: boolean
                  effectiveRolloutPercent:
                    def:
                      type: number
                      checks:
                        - def:
                            type: number
                            check: number_format
                            abort: false
                            format: safeint
                          type: number
                          minValue: -9007199254740991
                          maxValue: 9007199254740991
                          isInt: true
                          isFinite: true
                          format: safeint
                        - {}
                        - {}
                    type: number
                    minValue: 0
                    maxValue: 100
                    isInt: true
                    isFinite: true
                    format: safeint
              type: object
      type: object
    flagResponseEnvelopeSchema:
      def:
        type: object
        shape:
          success:
            def:
              type: literal
              values:
                - true
            type: literal
            values: {}
          data:
            def:
              type: object
              shape:
                id:
                  def:
                    type: string
                    checks:
                      - def:
                          type: string
[...]
