openapi: 3.0.0
info:
  version: 1.0.0
  title: Credence API
  description: Generated OpenAPI documentation from Zod schemas
servers:
  - url: https://api.credence.org/v1
components:
  schemas:
    addressSchema:
      def:
        type: string
        checks:
          - {}
          - {}
      type: string
      format: null
      minLength: 1
      maxLength: null
    attestationEventSchema:
      def:
        type: object
        shape:
          id:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          pagingToken:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          type:
            def:
              type: enum
              entries:
                add: add
                revoke: revoke
            type: enum
            enum:
              add: add
              revoke: revoke
            options:
              - add
              - revoke
          subject:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          verifier:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          weight:
            def:
              type: number
              checks:
                - def:
                    type: number
                    check: number_format
                    abort: false
                    format: safeint
                  type: number
                  minValue: -9007199254740991
                  maxValue: 9007199254740991
                  isInt: true
                  isFinite: true
                  format: safeint
                - {}
                - {}
            type: number
            minValue: 0
            maxValue: 100
            isInt: true
            isFinite: true
            format: safeint
          claim:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          createdAt:
            def:
              type: string
              checks:
                - {}
            type: string
            format: regex
            minLength: null
            maxLength: null
          transactionHash:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
      type: object
    attestationsPathParamsSchema:
      def:
        type: object
        shape:
          address:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
      type: object
    attestationsQuerySchema:
      def:
        type: object
        shape:
          page:
            def:
              type: default
              innerType:
                def:
                  type: optional
                  innerType:
                    def:
                      type: number
                      coerce: true
                      checks:
                        - def:
                            type: number
                            check: number_format
                            abort: false
                            format: safeint
                          type: number
                          minValue: -9007199254740991
                          maxValue: 9007199254740991
                          isInt: true
                          isFinite: true
                          format: safeint
                        - {}
                    type: number
                    minValue: 1
                    maxValue: 9007199254740991
                    isInt: true
                    isFinite: true
                    format: safeint
                type: optional
              defaultValue: 1
            type: default
          limit:
            def:
              type: default
              innerType:
                def:
                  type: optional
                  innerType:
                    def:
                      type: number
                      coerce: true
                      checks:
                        - def:
                            type: number
                            check: number_format
                            abort: false
                            format: safeint
                          type: number
                          minValue: -9007199254740991
                          maxValue: 9007199254740991
                          isInt: true
                          isFinite: true
                          format: safeint
                        - {}
                        - {}
                    type: number
                    minValue: 1
                    maxValue: 100
                    isInt: true
                    isFinite: true
                    format: safeint
                type: optional
              defaultValue: 20
            type: default
          offset:
            def:
              type: default
              innerType:
                def:
                  type: optional
                  innerType:
                    def:
                      type: number
                      coerce: true
                      checks:
                        - def:
                            type: number
                            check: number_format
                            abort: false
                            format: safeint
                          type: number
                          minValue: -9007199254740991
                          maxValue: 9007199254740991
                          isInt: true
                          isFinite: true
                          format: safeint
                        - {}
                    type: number
                    minValue: 0
                    maxValue: 9007199254740991
                    isInt: true
                    isFinite: true
                    format: safeint
                type: optional
              defaultValue: 0
            type: default
          cursor:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
        catchall:
          def:
            type: never
          type: never
      type: object
    bondCreationEventSchema:
      def:
        type: object
        shape:
          id:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          type:
            def:
              type: literal
              values:
                - create_bond
            type: literal
            values: {}
          sourceAccount:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          amount:
            def:
              type: string
              checks:
                - {}
            type: string
            format: regex
            minLength: null
            maxLength: null
          duration:
            def:
              type: optional
              innerType:
                def:
                  type: nullable
                  innerType:
                    def:
                      type: string
                    type: string
                    format: null
                    minLength: null
                    maxLength: null
                type: nullable
            type: optional
          pagingToken:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
          transactionHash:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
      type: object
    bondErrorSchema:
      def:
        type: object
        shape:
          error:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
      type: object
    bondPathParamsSchema:
      def:
        type: object
        shape:
          address:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
      type: object
    bondQuerySchema:
      def:
        type: object
        shape: {}
        catchall:
          def:
            type: never
          type: never
      type: object
    bondResponseSchema:
      def:
        type: object
        shape:
          address:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          bondedAmount:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          bondStart:
            def:
              type: nullable
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: nullable
          bondDuration:
            def:
              type: nullable
              innerType:
                def:
                  type: number
                  checks: []
                type: number
                minValue: null
                maxValue: null
                isInt: false
                isFinite: true
                format: null
            type: nullable
          active:
            def:
              type: boolean
            type: boolean
          slashedAmount:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          status:
            def:
              type: enum
              entries:
                active: active
                slashed: slashed
                inactive: inactive
                unbonded: unbonded
            type: enum
            enum:
              active: active
              slashed: slashed
              inactive: inactive
              unbonded: unbonded
            options:
              - active
              - slashed
              - inactive
              - unbonded
      type: object
    createAttestationBodySchema:
      def:
        type: object
        shape:
          bondId:
            def:
              type: optional
              innerType:
                def:
                  type: number
                  coerce: true
                  checks:
                    - def:
                        type: number
                        check: number_format
                        abort: false
                        format: safeint
                      type: number
                      minValue: -9007199254740991
                      maxValue: 9007199254740991
                      isInt: true
                      isFinite: true
                      format: safeint
                    - {}
                type: number
                minValue: 0
                maxValue: 9007199254740991
                isInt: true
                isFinite: true
                format: safeint
            type: optional
          attesterAddress:
            def:
              type: optional
              innerType:
                def:
                  type: string
                  checks:
                    - {}
                    - {}
                type: string
                format: null
                minLength: 1
                maxLength: null
            type: optional
          subject:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          value:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: 2048
          key:
            def:
              type: optional
              innerType:
                def:
                  type: string
                  checks:
                    - {}
                    - {}
                type: string
                format: null
                minLength: 1
                maxLength: 128
            type: optional
          score:
            def:
              type: optional
              innerType:
                def:
                  type: number
                  coerce: true
                  checks:
                    - def:
                        type: number
                        check: number_format
                        abort: false
                        format: safeint
                      type: number
                      minValue: -9007199254740991
                      maxValue: 9007199254740991
                      isInt: true
                      isFinite: true
                      format: safeint
                    - {}
                    - {}
                type: number
                minValue: 0
                maxValue: 100
                isInt: true
                isFinite: true
                format: safeint
            type: optional
        catchall:
          def:
            type: never
          type: never
      type: object
    createBondBodySchema:
      def:
        type: object
        shape:
          address:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          bondedAmount:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          bondDuration:
            def:
              type: number
              checks:
                - def:
                    type: number
                    check: number_format
                    abort: false
                    format: safeint
                  type: number
                  minValue: -9007199254740991
                  maxValue: 9007199254740991
                  isInt: true
                  isFinite: true
                  format: safeint
                - {}
            type: number
            minValue: 0
            maxValue: 9007199254740991
            isInt: true
            isFinite: true
            format: safeint
      type: object
    createPayoutSchema:
      def:
        type: object
        shape:
          bondId:
            def:
              type: union
              options:
                - def:
                    type: string
                  type: string
                  format: null
                  minLength: null
                  maxLength: null
                - def:
                    type: number
                    checks: []
                  type: number
                  minValue: null
                  maxValue: null
                  isInt: false
                  isFinite: true
                  format: null
            type: union
            options:
              - def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
              - def:
                  type: number
                  checks: []
                type: number
                minValue: null
                maxValue: null
                isInt: false
                isFinite: true
                format: null
          amount:
            def:
              type: string
              checks:
                - {}
                - def:
                    type: custom
                    check: custom
                  type: custom
            type: string
            format: regex
            minLength: null
            maxLength: null
          transactionHash:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: 128
          settledAt:
            def:
              type: optional
              innerType:
                def:
                  type: string
                  checks:
                    - def:
                        type: string
                        format: datetime
                        check: string_format
                        offset: false
                        local: false
                        precision: null
                        pattern: {}
                      type: string
                      format: datetime
                      minLength: null
                      maxLength: null
                type: string
                format: datetime
                minLength: null
                maxLength: null
            type: optional
          status:
            def:
              type: optional
              innerType:
                def:
                  type: enum
                  entries:
                    pending: pending
                    settled: settled
                    failed: failed
                type: enum
                enum:
                  pending: pending
                  settled: settled
                  failed: failed
                options:
                  - pending
                  - settled
                  - failed
            type: optional
      type: object
    createPolicyBodySchema:
      def:
        type: object
        shape:
          subject:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          action:
            def:
              type: enum
              entries:
                org:read: org:read
                org:update: org:update
                org:delete: org:delete
                org:member:invite: org:member:invite
                org:member:remove: org:member:remove
                org:member:list: org:member:list
                org:role:assign: org:role:assign
                org:apikey:create: org:apikey:create
                org:apikey:revoke: org:apikey:revoke
                org:apikey:list: org:apikey:list
                org:audit:read: org:audit:read
                org:policy:read: org:policy:read
                org:policy:write: org:policy:write
                "*": "*"
            type: enum
            enum:
              org:read: org:read
              org:update: org:update
              org:delete: org:delete
              org:member:invite: org:member:invite
              org:member:remove: org:member:remove
              org:member:list: org:member:list
              org:role:assign: org:role:assign
              org:apikey:create: org:apikey:create
              org:apikey:revoke: org:apikey:revoke
              org:apikey:list: org:apikey:list
              org:audit:read: org:audit:read
              org:policy:read: org:policy:read
              org:policy:write: org:policy:write
              "*": "*"
            options:
              - org:read
              - org:update
              - org:delete
              - org:member:invite
              - org:member:remove
              - org:member:list
              - org:role:assign
              - org:apikey:create
              - org:apikey:revoke
              - org:apikey:list
              - org:audit:read
              - org:policy:read
              - org:policy:write
              - "*"
          resource:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          effect:
            def:
              type: enum
              entries:
                allow: allow
                deny: deny
            type: enum
            enum:
              allow: allow
              deny: deny
            options:
              - allow
              - deny
          conditions:
            def:
              type: optional
              innerType:
                def:
                  type: record
                  keyType:
                    def:
                      type: string
                    type: string
                    format: null
                    minLength: null
                    maxLength: null
                  valueType:
                    def:
                      type: union
                      options:
                        - def:
                            type: string
                          type: string
                          format: null
                          minLength: null
                          maxLength: null
                        - def:
                            type: boolean
                          type: boolean
                        - def:
                            type: number
                            checks: []
                          type: number
                          minValue: null
                          maxValue: null
                          isInt: false
                          isFinite: true
                          format: null
                    type: union
                    options:
                      - def:
                          type: string
                        type: string
                        format: null
                        minLength: null
                        maxLength: null
                      - def:
                          type: boolean
                        type: boolean
                      - def:
                          type: number
                          checks: []
                        type: number
                        minValue: null
                        maxValue: null
                        isInt: false
                        isFinite: true
                        format: null
                type: record
                keyType:
                  def:
                    type: string
                  type: string
                  format: null
                  minLength: null
                  maxLength: null
                valueType:
                  def:
                    type: union
                    options:
                      - def:
                          type: string
                        type: string
                        format: null
                        minLength: null
                        maxLength: null
                      - def:
                          type: boolean
                        type: boolean
                      - def:
                          type: number
                          checks: []
                        type: number
                        minValue: null
                        maxValue: null
                        isInt: false
                        isFinite: true
                        format: null
                  type: union
                  options:
                    - def:
                        type: string
                      type: string
                      format: null
                      minLength: null
                      maxLength: null
                    - def:
                        type: boolean
                      type: boolean
                    - def:
                        type: number
                        checks: []
                      type: number
                      minValue: null
                      maxValue: null
                      isInt: false
                      isFinite: true
                      format: null
            type: optional
        catchall:
          def:
            type: never
          type: never
      type: object
    createReportBodySchema:
      def:
        type: object
        shape:
          type:
            def:
              type: enum
              entries:
                trust_score_summary: trust_score_summary
                bond_audit: bond_audit
                attestation_export: attestation_export
            type: enum
            enum:
              trust_score_summary: trust_score_summary
              bond_audit: bond_audit
              attestation_export: attestation_export
            options:
              - trust_score_summary
              - bond_audit
              - attestation_export
        catchall:
          def:
            type: never
          type: never
      type: object
    createSlashRequestBodySchema:
      def:
        type: object
        shape:
          targetAddress:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          reason:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          requestedBy:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          threshold:
            def:
              type: optional
              innerType:
                def:
                  type: number
                  checks:
                    - def:
                        type: number
                        check: number_format
                        abort: false
                        format: safeint
                      type: number
                      minValue: -9007199254740991
                      maxValue: 9007199254740991
                      isInt: true
                      isFinite: true
                      format: safeint
                    - {}
                type: number
                minValue: 1
                maxValue: 9007199254740991
                isInt: true
                isFinite: true
                format: safeint
            type: optional
          totalSigners:
            def:
              type: optional
              innerType:
                def:
                  type: number
                  checks:
                    - def:
                        type: number
                        check: number_format
                        abort: false
                        format: safeint
                      type: number
                      minValue: -9007199254740991
                      maxValue: 9007199254740991
                      isInt: true
                      isFinite: true
                      format: safeint
                    - {}
                type: number
                minValue: 1
                maxValue: 9007199254740991
                isInt: true
                isFinite: true
                format: safeint
            type: optional
      type: object
    createWalletBodySchema:
      def:
        type: object
        shape:
          address:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          initialBalance:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
          currency:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
      type: object
    dismissDisputeBodySchema:
      def:
        type: object
        shape:
          reason:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
      type: object
    disputeErrorSchema:
      def:
        type: object
        shape:
          error:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          message:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
      type: object
    disputePathParamsSchema:
      def:
        type: object
        shape:
          id:
            def:
              type: string
              checks:
                - def:
                    type: string
                    format: uuid
                    check: string_format
                    abort: false
                    pattern: {}
                  type: string
                  format: uuid
                  minLength: null
                  maxLength: null
            type: string
            format: uuid
            minLength: null
            maxLength: null
      type: object
    disputeSchema:
      def:
        type: object
        shape:
          id:
            def:
              type: string
              checks:
                - def:
                    type: string
                    format: uuid
                    check: string_format
                    abort: false
                    pattern: {}
                  type: string
                  format: uuid
                  minLength: null
                  maxLength: null
            type: string
            format: uuid
            minLength: null
            maxLength: null
          filedBy:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          respondent:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          reason:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          evidence:
            def:
              type: array
              element:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: array
            element:
              def:
                type: string
              type: string
              format: null
              minLength: null
              maxLength: null
          status:
            def:
              type: enum
              entries:
                pending: pending
                under_review: under_review
                resolved: resolved
                dismissed: dismissed
                expired: expired
            type: enum
            enum:
              pending: pending
              under_review: under_review
              resolved: resolved
              dismissed: dismissed
              expired: expired
            options:
              - pending
              - under_review
              - resolved
              - dismissed
              - expired
          createdAt:
            def:
              type: string
              checks:
                - def:
                    type: string
                    format: datetime
                    check: string_format
                    offset: false
                    local: false
                    precision: null
                    pattern: {}
                  type: string
                  format: datetime
                  minLength: null
                  maxLength: null
            type: string
            format: datetime
            minLength: null
            maxLength: null
          deadline:
            def:
              type: string
              checks:
                - def:
                    type: string
                    format: datetime
                    check: string_format
                    offset: false
                    local: false
                    precision: null
                    pattern: {}
                  type: string
                  format: datetime
                  minLength: null
                  maxLength: null
            type: string
            format: datetime
            minLength: null
            maxLength: null
          resolution:
            def:
              type: nullable
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: nullable
      type: object
    disputeStatusSchema:
      def:
        type: enum
        entries:
          pending: pending
          under_review: under_review
          resolved: resolved
          dismissed: dismissed
          expired: expired
      type: enum
      enum:
        pending: pending
        under_review: under_review
        resolved: resolved
        dismissed: dismissed
        expired: expired
      options:
        - pending
        - under_review
        - resolved
        - dismissed
        - expired
    disputeTransitionErrorSchema:
      def:
        type: object
        shape:
          error:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          code:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          error_code:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          message:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
      type: object
    governanceErrorSchema:
      def:
        type: object
        shape:
          error:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          message:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
      type: object
    policyListQuerySchema:
      def:
        type: object
        shape:
          page:
            def:
              type: pipe
              in:
                def:
                  type: transform
                type: transform
              out:
                def:
                  type: optional
                  innerType:
                    def:
                      type: number
                      checks:
                        - def:
                            type: number
                            check: number_format
                            abort: false
                            format: safeint
                          type: number
                          minValue: -9007199254740991
                          maxValue: 9007199254740991
                          isInt: true
                          isFinite: true
                          format: safeint
                        - {}
                    type: number
                    minValue: 0
                    maxValue: 9007199254740991
                    isInt: true
                    isFinite: true
                    format: safeint
                type: optional
            type: pipe
            in:
              def:
                type: transform
              type: transform
            out:
              def:
                type: optional
                innerType:
                  def:
                    type: number
                    checks:
                      - def:
                          type: number
                          check: number_format
                          abort: false
                          format: safeint
                        type: number
                        minValue: -9007199254740991
                        maxValue: 9007199254740991
                        isInt: true
                        isFinite: true
                        format: safeint
                      - {}
                  type: number
                  minValue: 0
                  maxValue: 9007199254740991
                  isInt: true
                  isFinite: true
                  format: safeint
              type: optional
          limit:
            def:
              type: pipe
              in:
                def:
                  type: transform
                type: transform
              out:
                def:
                  type: optional
                  innerType:
                    def:
                      type: number
                      checks:
                        - def:
                            type: number
                            check: number_format
                            abort: false
                            format: safeint
                          type: number
                          minValue: -9007199254740991
                          maxValue: 9007199254740991
                          isInt: true
                          isFinite: true
                          format: safeint
                        - {}
                        - {}
                    type: number
                    minValue: 0
                    maxValue: 100
                    isInt: true
                    isFinite: true
                    format: safeint
                type: optional
            type: pipe
            in:
              def:
                type: transform
              type: transform
            out:
              def:
                type: optional
                innerType:
                  def:
                    type: number
                    checks:
                      - def:
                          type: number
                          check: number_format
                          abort: false
                          format: safeint
                        type: number
                        minValue: -9007199254740991
                        maxValue: 9007199254740991
                        isInt: true
                        isFinite: true
                        format: safeint
                      - {}
                      - {}
                  type: number
                  minValue: 0
                  maxValue: 100
                  isInt: true
                  isFinite: true
                  format: safeint
              type: optional
      type: object
    policyOrgPathParamsSchema:
      def:
        type: object
        shape:
          orgId:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
      type: object
    policyRulePathParamsSchema:
      def:
        type: object
        shape:
          orgId:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          ruleId:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
      type: object
    reportJobParamsSchema:
      def:
        type: object
        shape:
          jobId:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
      type: object
    reportTypeSchema:
      def:
        type: enum
        entries:
          trust_score_summary: trust_score_summary
          bond_audit: bond_audit
          attestation_export: attestation_export
      type: enum
      enum:
        trust_score_summary: trust_score_summary
        bond_audit: bond_audit
        attestation_export: attestation_export
      options:
        - trust_score_summary
        - bond_audit
        - attestation_export
    resolveDisputeBodySchema:
      def:
        type: object
        shape:
          resolution:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
      type: object
    slashRequestPathParamsSchema:
      def:
        type: object
        shape:
          id:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
      type: object
    slashRequestSchema:
      def:
        type: object
        shape:
          id:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          targetAddress:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          reason:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          requestedBy:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          createdAt:
            def:
              type: string
              checks:
                - def:
                    type: string
                    format: datetime
                    check: string_format
                    offset: false
                    local: false
                    precision: null
                    pattern: {}
                  type: string
                  format: datetime
                  minLength: null
                  maxLength: null
            type: string
            format: datetime
            minLength: null
            maxLength: null
          votes:
            def:
              type: array
              element:
                def:
                  type: object
                  shape:
                    voterId:
                      def:
                        type: string
                      type: string
                      format: null
                      minLength: null
                      maxLength: null
                    choice:
                      def:
                        type: enum
                        entries:
                          approve: approve
                          reject: reject
                      type: enum
                      enum:
                        approve: approve
                        reject: reject
                      options:
                        - approve
                        - reject
                    timestamp:
                      def:
                        type: string
                        checks:
                          - def:
                              type: string
                              format: datetime
                              check: string_format
                              offset: false
                              local: false
                              precision: null
                              pattern: {}
                            type: string
                            format: datetime
                            minLength: null
                            maxLength: null
                      type: string
                      format: datetime
                      minLength: null
                      maxLength: null
                type: object
            type: array
            element:
              def:
                type: object
                shape:
                  voterId:
                    def:
                      type: string
                    type: string
                    format: null
                    minLength: null
                    maxLength: null
                  choice:
                    def:
                      type: enum
                      entries:
                        approve: approve
                        reject: reject
                    type: enum
                    enum:
                      approve: approve
                      reject: reject
                    options:
                      - approve
                      - reject
                  timestamp:
                    def:
                      type: string
                      checks:
                        - def:
                            type: string
                            format: datetime
                            check: string_format
                            offset: false
                            local: false
                            precision: null
                            pattern: {}
                          type: string
                          format: datetime
                          minLength: null
                          maxLength: null
                    type: string
                    format: datetime
                    minLength: null
                    maxLength: null
              type: object
          status:
            def:
              type: enum
              entries:
                pending: pending
                approved: approved
                rejected: rejected
            type: enum
            enum:
              pending: pending
              approved: approved
              rejected: rejected
            options:
              - pending
              - approved
              - rejected
          threshold:
            def:
              type: number
              checks:
                - def:
                    type: number
                    check: number_format
                    abort: false
                    format: safeint
                  type: number
                  minValue: -9007199254740991
                  maxValue: 9007199254740991
                  isInt: true
                  isFinite: true
                  format: safeint
            type: number
            minValue: -9007199254740991
            maxValue: 9007199254740991
            isInt: true
            isFinite: true
            format: safeint
          totalSigners:
            def:
              type: number
              checks:
                - def:
                    type: number
                    check: number_format
                    abort: false
                    format: safeint
                  type: number
                  minValue: -9007199254740991
                  maxValue: 9007199254740991
                  isInt: true
                  isFinite: true
                  format: safeint
            type: number
            minValue: -9007199254740991
            maxValue: 9007199254740991
            isInt: true
            isFinite: true
            format: safeint
      type: object
    slashRequestStatusSchema:
      def:
        type: enum
        entries:
          pending: pending
          approved: approved
          rejected: rejected
      type: enum
      enum:
        pending: pending
        approved: approved
        rejected: rejected
      options:
        - pending
        - approved
        - rejected
    slashRequestsListResponseSchema:
      def:
        type: object
        shape:
          success:
            def:
              type: literal
              values:
                - true
            type: literal
            values: {}
          data:
            def:
              type: array
              element:
                def:
                  type: object
                  shape:
                    id:
                      def:
                        type: string
                      type: string
                      format: null
                      minLength: null
                      maxLength: null
                    targetAddress:
                      def:
                        type: string
                      type: string
                      format: null
                      minLength: null
                      maxLength: null
                    reason:
                      def:
                        type: string
                      type: string
                      format: null
                      minLength: null
                      maxLength: null
                    requestedBy:
                      def:
                        type: string
                      type: string
                      format: null
                      minLength: null
                      maxLength: null
                    createdAt:
                      def:
                        type: string
                        checks:
                          - def:
                              type: string
                              format: datetime
                              check: string_format
                              offset: false
                              local: false
                              precision: null
                              pattern: {}
                            type: string
                            format: datetime
                            minLength: null
                            maxLength: null
                      type: string
                      format: datetime
                      minLength: null
                      maxLength: null
                    votes:
                      def:
                        type: array
                        element:
                          def:
                            type: object
                            shape:
                              voterId:
                                def:
                                  type: string
                                type: string
                                format: null
                                minLength: null
                                maxLength: null
                              choice:
                                def:
                                  type: enum
                                  entries:
                                    approve: approve
                                    reject: reject
                                type: enum
                                enum:
                                  approve: approve
                                  reject: reject
                                options:
                                  - approve
                                  - reject
                              timestamp:
                                def:
                                  type: string
                                  checks:
                                    - def:
                                        type: string
                                        format: datetime
                                        check: string_format
                                        offset: false
                                        local: false
                                        precision: null
                                        pattern: {}
                                      type: string
                                      format: datetime
                                      minLength: null
                                      maxLength: null
                                type: string
                                format: datetime
                                minLength: null
                                maxLength: null
                          type: object
                      type: array
                      element:
                        def:
                          type: object
                          shape:
                            voterId:
                              def:
                                type: string
                              type: string
                              format: null
                              minLength: null
                              maxLength: null
                            choice:
                              def:
                                type: enum
                                entries:
                                  approve: approve
                                  reject: reject
                              type: enum
                              enum:
                                approve: approve
                                reject: reject
                              options:
                                - approve
                                - reject
                            timestamp:
                              def:
                                type: string
                                checks:
                                  - def:
                                      type: string
                                      format: datetime
                                      check: string_format
                                      offset: false
                                      local: false
                                      precision: null
                                      pattern: {}
                                    type: string
                                    format: datetime
                                    minLength: null
                                    maxLength: null
                              type: string
                              format: datetime
                              minLength: null
                              maxLength: null
                        type: object
                    status:
                      def:
                        type: enum
                        entries:
                          pending: pending
                          approved: approved
                          rejected: rejected
                      type: enum
                      enum:
                        pending: pending
                        approved: approved
                        rejected: rejected
                      options:
                        - pending
                        - approved
                        - rejected
                    threshold:
                      def:
                        type: number
                        checks:
                          - def:
                              type: number
                              check: number_format
                              abort: false
                              format: safeint
                            type: number
                            minValue: -9007199254740991
                            maxValue: 9007199254740991
                            isInt: true
                            isFinite: true
                            format: safeint
                      type: number
                      minValue: -9007199254740991
                      maxValue: 9007199254740991
                      isInt: true
                      isFinite: true
                      format: safeint
                    totalSigners:
                      def:
                        type: number
                        checks:
                          - def:
                              type: number
                              check: number_format
                              abort: false
                              format: safeint
                            type: number
                            minValue: -9007199254740991
                            maxValue: 9007199254740991
                            isInt: true
                            isFinite: true
                            format: safeint
                      type: number
                      minValue: -9007199254740991
                      maxValue: 9007199254740991
                      isInt: true
                      isFinite: true
                      format: safeint
                type: object
            type: array
            element:
              def:
                type: object
                shape:
                  id:
                    def:
                      type: string
                    type: string
                    format: null
                    minLength: null
                    maxLength: null
                  targetAddress:
                    def:
                      type: string
                    type: string
                    format: null
                    minLength: null
                    maxLength: null
                  reason:
                    def:
                      type: string
                    type: string
                    format: null
                    minLength: null
                    maxLength: null
                  requestedBy:
                    def:
                      type: string
                    type: string
                    format: null
                    minLength: null
                    maxLength: null
                  createdAt:
                    def:
                      type: string
                      checks:
                        - def:
                            type: string
                            format: datetime
                            check: string_format
                            offset: false
                            local: false
                            precision: null
                            pattern: {}
                          type: string
                          format: datetime
                          minLength: null
                          maxLength: null
                    type: string
                    format: datetime
                    minLength: null
                    maxLength: null
                  votes:
                    def:
                      type: array
                      element:
                        def:
                          type: object
                          shape:
                            voterId:
                              def:
                                type: string
                              type: string
                              format: null
                              minLength: null
                              maxLength: null
                            choice:
                              def:
                                type: enum
                                entries:
                                  approve: approve
                                  reject: reject
                              type: enum
                              enum:
                                approve: approve
                                reject: reject
                              options:
                                - approve
                                - reject
                            timestamp:
                              def:
                                type: string
                                checks:
                                  - def:
                                      type: string
                                      format: datetime
                                      check: string_format
                                      offset: false
                                      local: false
                                      precision: null
                                      pattern: {}
                                    type: string
                                    format: datetime
                                    minLength: null
                                    maxLength: null
                              type: string
                              format: datetime
                              minLength: null
                              maxLength: null
                        type: object
                    type: array
                    element:
                      def:
                        type: object
                        shape:
                          voterId:
                            def:
                              type: string
                            type: string
                            format: null
                            minLength: null
                            maxLength: null
                          choice:
                            def:
                              type: enum
                              entries:
                                approve: approve
                                reject: reject
                            type: enum
                            enum:
                              approve: approve
                              reject: reject
                            options:
                              - approve
                              - reject
                          timestamp:
                            def:
                              type: string
                              checks:
                                - def:
                                    type: string
                                    format: datetime
                                    check: string_format
                                    offset: false
                                    local: false
                                    precision: null
                                    pattern: {}
                                  type: string
                                  format: datetime
                                  minLength: null
                                  maxLength: null
                            type: string
                            format: datetime
                            minLength: null
                            maxLength: null
                      type: object
                  status:
                    def:
                      type: enum
                      entries:
                        pending: pending
                        approved: approved
                        rejected: rejected
                    type: enum
                    enum:
                      pending: pending
                      approved: approved
                      rejected: rejected
                    options:
                      - pending
                      - approved
                      - rejected
                  threshold:
                    def:
                      type: number
                      checks:
                        - def:
                            type: number
                            check: number_format
                            abort: false
                            format: safeint
                          type: number
                          minValue: -9007199254740991
                          maxValue: 9007199254740991
                          isInt: true
                          isFinite: true
                          format: safeint
                    type: number
                    minValue: -9007199254740991
                    maxValue: 9007199254740991
                    isInt: true
                    isFinite: true
                    format: safeint
                  totalSigners:
                    def:
                      type: number
                      checks:
                        - def:
                            type: number
                            check: number_format
                            abort: false
                            format: safeint
                          type: number
                          minValue: -9007199254740991
                          maxValue: 9007199254740991
                          isInt: true
                          isFinite: true
                          format: safeint
                    type: number
                    minValue: -9007199254740991
                    maxValue: 9007199254740991
                    isInt: true
                    isFinite: true
                    format: safeint
              type: object
          page:
            def:
              type: number
              checks:
                - def:
                    type: number
                    check: number_format
                    abort: false
                    format: safeint
                  type: number
                  minValue: -9007199254740991
                  maxValue: 9007199254740991
                  isInt: true
                  isFinite: true
                  format: safeint
            type: number
            minValue: -9007199254740991
            maxValue: 9007199254740991
            isInt: true
            isFinite: true
            format: safeint
          limit:
            def:
              type: number
              checks:
                - def:
                    type: number
                    check: number_format
                    abort: false
                    format: safeint
                  type: number
                  minValue: -9007199254740991
                  maxValue: 9007199254740991
                  isInt: true
                  isFinite: true
                  format: safeint
            type: number
            minValue: -9007199254740991
            maxValue: 9007199254740991
            isInt: true
            isFinite: true
            format: safeint
          total:
            def:
              type: number
              checks:
                - def:
                    type: number
                    check: number_format
                    abort: false
                    format: safeint
                  type: number
                  minValue: -9007199254740991
                  maxValue: 9007199254740991
                  isInt: true
                  isFinite: true
                  format: safeint
            type: number
            minValue: -9007199254740991
            maxValue: 9007199254740991
            isInt: true
            isFinite: true
            format: safeint
          hasNext:
            def:
              type: boolean
            type: boolean
      type: object
    slashRequestsQuerySchema:
      def:
        type: object
        shape:
          status:
            def:
              type: optional
              innerType:
                def:
                  type: enum
                  entries:
                    pending: pending
                    approved: approved
                    rejected: rejected
                type: enum
                enum:
                  pending: pending
                  approved: approved
                  rejected: rejected
                options:
                  - pending
                  - approved
                  - rejected
            type: optional
          page:
            def:
              type: optional
              innerType:
                def:
                  type: number
                  coerce: true
                  checks:
                    - def:
                        type: number
                        check: number_format
                        abort: false
                        format: safeint
                      type: number
                      minValue: -9007199254740991
                      maxValue: 9007199254740991
                      isInt: true
                      isFinite: true
                      format: safeint
                    - {}
                type: number
                minValue: 1
                maxValue: 9007199254740991
                isInt: true
                isFinite: true
                format: safeint
            type: optional
          limit:
            def:
              type: optional
              innerType:
                def:
                  type: number
                  coerce: true
                  checks:
                    - def:
                        type: number
                        check: number_format
                        abort: false
                        format: safeint
                      type: number
                      minValue: -9007199254740991
                      maxValue: 9007199254740991
                      isInt: true
                      isFinite: true
                      format: safeint
                    - {}
                    - {}
                type: number
                minValue: 1
                maxValue: 100
                isInt: true
                isFinite: true
                format: safeint
            type: optional
          offset:
            def:
              type: optional
              innerType:
                def:
                  type: number
                  coerce: true
                  checks:
                    - def:
                        type: number
                        check: number_format
                        abort: false
                        format: safeint
                      type: number
                      minValue: -9007199254740991
                      maxValue: 9007199254740991
                      isInt: true
                      isFinite: true
                      format: safeint
                    - {}
                type: number
                minValue: 0
                maxValue: 9007199254740991
                isInt: true
                isFinite: true
                format: safeint
            type: optional
      type: object
    stellarAddressSchema:
      def:
        type: string
        checks:
          - {}
          - def:
              type: custom
              check: custom
            type: custom
      type: string
      format: null
      minLength: 1
      maxLength: null
    submitDisputeBodySchema:
      def:
        type: object
        shape:
          filedBy:
            def:
              type: string
              checks:
                - {}
            type: string
            format: regex
            minLength: null
            maxLength: null
          respondent:
            def:
              type: string
              checks:
                - {}
            type: string
            format: regex
            minLength: null
            maxLength: null
          reason:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 10
            maxLength: null
          evidence:
            def:
              type: array
              element:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
              checks:
                - {}
            type: array
            element:
              def:
                type: string
              type: string
              format: null
              minLength: null
              maxLength: null
          deadlineMs:
            def:
              type: number
              checks:
                - def:
                    type: number
                    check: number_format
                    abort: false
                    format: safeint
                  type: number
                  minValue: -9007199254740991
                  maxValue: 9007199254740991
                  isInt: true
                  isFinite: true
                  format: safeint
                - {}
                - {}
            type: number
            minValue: 3600000
            maxValue: 2592000000
            isInt: true
            isFinite: true
            format: safeint
      type: object
    submitVoteBodySchema:
      def:
        type: object
        shape:
          voterId:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          choice:
            def:
              type: enum
              entries:
                approve: approve
                reject: reject
            type: enum
            enum:
              approve: approve
              reject: reject
            options:
              - approve
              - reject
      type: object
    transactionsHistoryQuerySchema:
      def:
        type: object
        shape:
          limit:
            def:
              type: pipe
              in:
                def:
                  type: transform
                type: transform
              out:
                def:
                  type: optional
                  innerType:
                    def:
                      type: number
                      checks:
                        - def:
                            type: number
                            check: number_format
                            abort: false
                            format: safeint
                          type: number
                          minValue: -9007199254740991
                          maxValue: 9007199254740991
                          isInt: true
                          isFinite: true
                          format: safeint
                        - {}
                        - {}
                    type: number
                    minValue: 1
                    maxValue: 100
                    isInt: true
                    isFinite: true
                    format: safeint
                type: optional
            type: pipe
            in:
              def:
                type: transform
              type: transform
            out:
              def:
                type: optional
                innerType:
                  def:
                    type: number
                    checks:
                      - def:
                          type: number
                          check: number_format
                          abort: false
                          format: safeint
                        type: number
                        minValue: -9007199254740991
                        maxValue: 9007199254740991
                        isInt: true
                        isFinite: true
                        format: safeint
                      - {}
                      - {}
                  type: number
                  minValue: 1
                  maxValue: 100
                  isInt: true
                  isFinite: true
                  format: safeint
              type: optional
          cursor:
            def:
              type: pipe
              in:
                def:
                  type: optional
                  innerType:
                    def:
                      type: string
                    type: string
                    format: null
                    minLength: null
                    maxLength: null
                type: optional
              out:
                def:
                  type: transform
                type: transform
            type: pipe
            in:
              def:
                type: optional
                innerType:
                  def:
                    type: string
                  type: string
                  format: null
                  minLength: null
                  maxLength: null
              type: optional
            out:
              def:
                type: transform
              type: transform
          bondId:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
        catchall:
          def:
            type: never
          type: never
      type: object
    trustExplainQuerySchema:
      def:
        type: object
        shape:
          snapshotId:
            def:
              type: pipe
              in:
                def:
                  type: transform
                type: transform
              out:
                def:
                  type: number
                  checks:
                    - def:
                        type: number
                        check: number_format
                        abort: false
                        format: safeint
                      type: number
                      minValue: -9007199254740991
                      maxValue: 9007199254740991
                      isInt: true
                      isFinite: true
                      format: safeint
                    - {}
                type: number
                minValue: 0
                maxValue: 9007199254740991
                isInt: true
                isFinite: true
                format: safeint
            type: pipe
            in:
              def:
                type: transform
              type: transform
            out:
              def:
                type: number
                checks:
                  - def:
                      type: number
                      check: number_format
                      abort: false
                      format: safeint
                    type: number
                    minValue: -9007199254740991
                    maxValue: 9007199254740991
                    isInt: true
                    isFinite: true
                    format: safeint
                  - {}
              type: number
              minValue: 0
              maxValue: 9007199254740991
              isInt: true
              isFinite: true
              format: safeint
      type: object
    trustPathParamsSchema:
      def:
        type: object
        shape:
          address:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
      type: object
    trustQuerySchema:
      def:
        type: object
        shape: {}
        catchall:
          def:
            type: never
          type: never
      type: object
    updatePolicyBodySchema:
      def:
        type: object
        shape:
          subject:
            def:
              type: optional
              innerType:
                def:
                  type: string
                  checks:
                    - {}
                type: string
                format: null
                minLength: 1
                maxLength: null
            type: optional
          action:
            def:
              type: optional
              innerType:
                def:
                  type: enum
                  entries:
                    org:read: org:read
                    org:update: org:update
                    org:delete: org:delete
                    org:member:invite: org:member:invite
                    org:member:remove: org:member:remove
                    org:member:list: org:member:list
                    org:role:assign: org:role:assign
                    org:apikey:create: org:apikey:create
                    org:apikey:revoke: org:apikey:revoke
                    org:apikey:list: org:apikey:list
                    org:audit:read: org:audit:read
                    org:policy:read: org:policy:read
                    org:policy:write: org:policy:write
                    "*": "*"
                type: enum
                enum:
                  org:read: org:read
                  org:update: org:update
                  org:delete: org:delete
                  org:member:invite: org:member:invite
                  org:member:remove: org:member:remove
                  org:member:list: org:member:list
                  org:role:assign: org:role:assign
                  org:apikey:create: org:apikey:create
                  org:apikey:revoke: org:apikey:revoke
                  org:apikey:list: org:apikey:list
                  org:audit:read: org:audit:read
                  org:policy:read: org:policy:read
                  org:policy:write: org:policy:write
                  "*": "*"
                options:
                  - org:read
                  - org:update
                  - org:delete
                  - org:member:invite
                  - org:member:remove
                  - org:member:list
                  - org:role:assign
                  - org:apikey:create
                  - org:apikey:revoke
                  - org:apikey:list
                  - org:audit:read
                  - org:policy:read
                  - org:policy:write
                  - "*"
            type: optional
          resource:
            def:
              type: optional
              innerType:
                def:
                  type: string
                  checks:
                    - {}
                type: string
                format: null
                minLength: 1
                maxLength: null
            type: optional
          effect:
            def:
              type: optional
              innerType:
                def:
                  type: enum
                  entries:
                    allow: allow
                    deny: deny
                type: enum
                enum:
                  allow: allow
                  deny: deny
                options:
                  - allow
                  - deny
            type: optional
          conditions:
            def:
              type: optional
              innerType:
                def:
                  type: record
                  keyType:
                    def:
                      type: string
                    type: string
                    format: null
                    minLength: null
                    maxLength: null
                  valueType:
                    def:
                      type: union
                      options:
                        - def:
                            type: string
                          type: string
                          format: null
                          minLength: null
                          maxLength: null
                        - def:
                            type: boolean
                          type: boolean
                        - def:
                            type: number
                            checks: []
                          type: number
                          minValue: null
                          maxValue: null
                          isInt: false
                          isFinite: true
                          format: null
                    type: union
                    options:
                      - def:
                          type: string
                        type: string
                        format: null
                        minLength: null
                        maxLength: null
                      - def:
                          type: boolean
                        type: boolean
                      - def:
                          type: number
                          checks: []
                        type: number
                        minValue: null
                        maxValue: null
                        isInt: false
                        isFinite: true
                        format: null
                type: record
                keyType:
                  def:
                    type: string
                  type: string
                  format: null
                  minLength: null
                  maxLength: null
                valueType:
                  def:
                    type: union
                    options:
                      - def:
                          type: string
                        type: string
                        format: null
                        minLength: null
                        maxLength: null
                      - def:
                          type: boolean
                        type: boolean
                      - def:
                          type: number
                          checks: []
                        type: number
                        minValue: null
                        maxValue: null
                        isInt: false
                        isFinite: true
                        format: null
                  type: union
                  options:
                    - def:
                        type: string
                      type: string
                      format: null
                      minLength: null
                      maxLength: null
                    - def:
                        type: boolean
                      type: boolean
                    - def:
                        type: number
                        checks: []
                      type: number
                      minValue: null
                      maxValue: null
                      isInt: false
                      isFinite: true
                      format: null
            type: optional
        catchall:
          def:
            type: never
          type: never
      type: object
    voteChoiceSchema:
      def:
        type: enum
        entries:
          approve: approve
          reject: reject
      type: enum
      enum:
        approve: approve
        reject: reject
      options:
        - approve
        - reject
    voteResultSchema:
      def:
        type: object
        shape:
          slashRequestId:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          voterId:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          choice:
            def:
              type: enum
              entries:
                approve: approve
                reject: reject
            type: enum
            enum:
              approve: approve
              reject: reject
            options:
              - approve
              - reject
          approveCount:
            def:
              type: number
              checks:
                - def:
                    type: number
                    check: number_format
                    abort: false
                    format: safeint
                  type: number
                  minValue: -9007199254740991
                  maxValue: 9007199254740991
                  isInt: true
                  isFinite: true
                  format: safeint
            type: number
            minValue: -9007199254740991
            maxValue: 9007199254740991
            isInt: true
            isFinite: true
            format: safeint
          rejectCount:
            def:
              type: number
              checks:
                - def:
                    type: number
                    check: number_format
                    abort: false
                    format: safeint
                  type: number
                  minValue: -9007199254740991
                  maxValue: 9007199254740991
                  isInt: true
                  isFinite: true
                  format: safeint
            type: number
            minValue: -9007199254740991
            maxValue: 9007199254740991
            isInt: true
            isFinite: true
            format: safeint
          status:
            def:
              type: enum
              entries:
                pending: pending
                approved: approved
                rejected: rejected
            type: enum
            enum:
              pending: pending
              approved: approved
              rejected: rejected
            options:
              - pending
              - approved
              - rejected
      type: object
    voteSchema:
      def:
        type: object
        shape:
          voterId:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          choice:
            def:
              type: enum
              entries:
                approve: approve
                reject: reject
            type: enum
            enum:
              approve: approve
              reject: reject
            options:
              - approve
              - reject
          timestamp:
            def:
              type: string
              checks:
                - def:
                    type: string
                    format: datetime
                    check: string_format
                    offset: false
                    local: false
                    precision: null
                    pattern: {}
                  type: string
                  format: datetime
                  minLength: null
                  maxLength: null
            type: string
            format: datetime
            minLength: null
            maxLength: null
      type: object
    walletDebitBodySchema:
      def:
        type: object
        shape:
          amount:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
      type: object
    walletDebitResponseSchema:
      def:
        type: object
        shape:
          wallet:
            def:
              type: object
              shape:
                id:
                  def:
                    type: string
                    checks:
                      - def:
                          type: string
                          format: uuid
                          check: string_format
                          abort: false
                          pattern: {}
                        type: string
                        format: uuid
                        minLength: null
                        maxLength: null
                  type: string
                  format: uuid
                  minLength: null
                  maxLength: null
                address:
                  def:
                    type: string
                    checks:
                      - {}
                  type: string
                  format: null
                  minLength: 1
                  maxLength: null
                balance:
                  def:
                    type: string
                  type: string
                  format: null
                  minLength: null
                  maxLength: null
                currency:
                  def:
                    type: string
                  type: string
                  format: null
                  minLength: null
                  maxLength: null
                createdAt:
                  def:
                    type: date
                  type: date
                  minDate: null
                  maxDate: null
                updatedAt:
                  def:
                    type: date
                  type: date
                  minDate: null
                  maxDate: null
            type: object
          previousBalance:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          newBalance:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          debitedAmount:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
      type: object
    walletErrorSchema:
      def:
        type: object
        shape:
          error:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
      type: object
    walletSchema:
      def:
        type: object
        shape:
          id:
            def:
              type: string
              checks:
                - def:
                    type: string
                    format: uuid
                    check: string_format
                    abort: false
                    pattern: {}
                  type: string
                  format: uuid
                  minLength: null
                  maxLength: null
            type: string
            format: uuid
            minLength: null
            maxLength: null
          address:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          balance:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          currency:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          createdAt:
            def:
              type: date
            type: date
            minDate: null
            maxDate: null
          updatedAt:
            def:
              type: date
            type: date
            minDate: null
            maxDate: null
      type: object
    withdrawalEventSchema:
      def:
        type: object
        shape:
          id:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          pagingToken:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          type:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          createdAt:
            def:
              type: union
              options:
                - def:
                    type: date
                  type: date
                  minDate: null
                  maxDate: null
                - def:
                    type: string
                    checks:
                      - {}
                  type: string
                  format: regex
                  minLength: null
                  maxLength: null
            type: union
            options:
              - def:
                  type: date
                type: date
                minDate: null
                maxDate: null
              - def:
                  type: string
                  checks:
                    - {}
                type: string
                format: regex
                minLength: null
                maxLength: null
          bondId:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          account:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          amount:
            def:
              type: string
              checks:
                - {}
            type: string
            format: regex
            minLength: null
            maxLength: null
          assetType:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          assetCode:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
          assetIssuer:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
          transactionHash:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          operationIndex:
            def:
              type: number
              checks:
                - def:
                    type: number
                    check: number_format
                    abort: false
                    format: safeint
                  type: number
                  minValue: -9007199254740991
                  maxValue: 9007199254740991
                  isInt: true
                  isFinite: true
                  format: safeint
                - {}
            type: number
            minValue: 0
            maxValue: 9007199254740991
            isInt: true
            isFinite: true
            format: safeint
      type: object
    Wallet:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Wallet UUID (auto-generated by Postgres)
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        address:
          type: string
          minLength: 1
          description: Blockchain wallet address
          example: 0xTestAddress1
        balance:
          type: string
          description: Current balance as a decimal string (NUMERIC(36,18))
          example: "100.000000000000000000"
        currency:
          type: string
          description: Currency code
          example: USD
        createdAt:
          type: string
          format: date-time
          description: UTC timestamp when the wallet was created
        updatedAt:
          type: string
          format: date-time
          description: UTC timestamp of the last balance change
      required:
        - id
        - address
        - balance
        - currency
        - createdAt
[...]
